[2016-04-18 12:22] swarthout opened #2 "Confusing import statement"
First of all, great work with this initial draft of the apollo client! I look forward to using it as it matures. I started reading through the code today and I thought this import on the example page was a little confusing:
import {ApolloQueryPipe, APOLLO_ANGULAR2_PROVIDERS, ApolloAngular2} from "angular2-apollo";
It seems like APOLLO_ANGULAR2_PROVIDERS is being imported but not used, could you ex

[2016-04-19 09:06] Urigo commented on #2
@swarthout can you check the readme now and see if it's more understandable?

[2016-04-19 16:15] swarthout commented on #2
Excellent! The readme is much clearer now

[2016-04-19 16:15] #2 closed

[2016-05-10 13:27] TobiasKrogh opened #14 "Angular 2 Release Candidate 1"
Hi,

any chance angular2-apollo gets updated to work with the Angular 2 RC1?

Cheers

[2016-05-16 10:18] kamilkisiela commented on #14
@TobiasKrogh  I think I'm going to work on it in the next week :)

[2016-05-16 11:12] iguissouma opened #15 "EXCEPTION: Error: Uncaught (in promise): No Pipe decorator found on ApolloQueryPipe"
Hello,
I'm getting this error when I run the hello-world example:
`EXCEPTION: Error: Uncaught (in promise): No Pipe decorator found on ApolloQueryPipe`

Any idea how to fix this.
Thanks in advance

[2016-05-16 14:20] kamilkisiela commented on #15
@iguissouma Are you using `angular2-apollo` with one of beta versions of `angular2` or with release candidate? It's been tested on beta.

[2016-05-16 16:38] iguissouma commented on #15
@kamilkisiela
I'm using angular2@2.0.0-beta.17, that's what i see on package.jon on node_modules\angular2:

[code]

Do I have to use 2.0.0-beta.15?

[2016-05-25 07:15] ansarizafar commented on #14
@kamilkisiela any update?

[2016-05-25 11:55] kamilkisiela commented on #14
Could you guys check [this PR](https://github.com/apollostack/angular2-apollo/pull/16)?
Is this working for you?

I will try to update also the ApolloClient.

[2016-05-25 16:13] bharath-cchmc commented on #15
I got this error when I changed the location of the ```pipe.ts``` file.
My folder structure before was client >>

when I changed this to

 I got the error
[code]

[2016-05-26 09:38] kamilkisiela commented on #14
#17 Should fix it

[2016-05-26 09:40] kamilkisiela commented on #15
Could you try to use this #17 ?

[2016-05-26 13:58] Urigo commented on #14
published 0.1.0, thanks @kamilkisiela !

[2016-05-26 13:58] #14 closed

[2016-05-26 13:59] Urigo commented on #15
Just released 0.1.0 that might solve it, can you try the new version and let me know if it works for you?

[2016-06-02 21:48] bkinsey808 opened #20 "server-side rendering"
Curious if there are any plans for server side rendering? Was advised to make an issue here.

https://github.com/apollostack/apollo-server/issues/16

[2016-06-03 10:07] lypanov opened #21 "Problems with hello-world / getting started in general"
I'm a angular2 beginner but Apollo looks exceptionally interesting and I'm really hoping to use it together with the excellent work you guys are doing.

Alas.. I just can't seem to get started. Error after error after error! I'm blocked by https://github.com/apollostack/apollo-client/issues/207 in getting the main client working and with angular2-apollo hello-world project I just get more differen

[2016-06-03 10:34] Quramy opened #22 "use defaultClient in @Apollo Decorator"
Hi. I'm trying angular2-apollo reading http://docs.apollostack.com/apollo-client/angular2.html#apollo .
I'm confused because the following usage of Apollo decorator:

[code]

It seems that the `client` parameter is required. Can you make it optional? I want angular2-apollo uses the defaultApolloClient by the default.

[2016-06-03 12:57] pso-aeb opened #23 "Integrating angular2-apollo into the Angular2 quickstart project"
node/npm/angular2 beginner here.

I did the Angular2 Tutorial at https://angular.io/docs/ts/latest/tutorial/
I am now trying to integrate angular2-apollo into this project.

Yet, the Angular2 setup (with SystemJS) does not seem to work with angular2-apollo.

I tried both "npm install angular2-apollo" and including it in my package.json.
The install was successful and I have all necessary files in

[2016-06-03 14:09] pso-aeb commented on #21
Hi!
Not sure how much help I can be, but try the following for getting the hello-world running:

-> In the hello-world folder, run "npm install rxjs@5.0.0-beta.6"
This should get rid of "npm WARN @angular/core@2.0.0-rc.1 requires a peer of rxjs@5.0.0-beta.6 but none was installed"
-> You need meteor, you can install it manually from meteor.com/install

-> After this, try running "meteor run" in th

[2016-06-03 21:49] nebiljabari commented on #21
After my third try here is the process I used : (all happen in the terminal/console)

1-  copie and paste: git clone https://github.com/apollostack/angular2-apollo.git
2- go to your angular2-apollo folder and do : npm install
3- go to angular2-apollo/examples/hello-world and do : npm install rxjs@5.0.0-beta.6
4- do : meteor (it will automatically put the right release (1.3.1) for the project)

...

[2016-06-04 17:26] bkinsey808 commented on #21
I tried the above steps by @nebiljabari and got the following errors. The website showed the list, but adding did not work.

[code]

[2016-06-04 17:38] nebiljabari commented on #21
Same here (of course) I actually try to solve it. The app is running but not the input. I've make a tour in the graphql.js file but found no export GraphQLResult ... to be continued

[2016-06-04 18:24] bkinsey808 commented on #21
Okay, i think i figured out the issue with graphQLResult. I capitalized the G on the import statement so it would import the interface called GraphQLResult. Then I fixed the implicit any issue by adding `: GraphQLResult` to that parameter, so it was typed with that interface instead of `any`. Still have not solved the addUser issue yet.

[2016-06-04 18:40] nebiljabari commented on #21
Well done @bkinsey808 ! Concerning the input it print in the console ;-)

[2016-06-05 13:04] bkinsey808 commented on #21
I fixed the addUser compile issue. Here's what I learned. There is a class decorator that dynamically adds a method. https://github.com/apollostack/angular2-apollo/blob/master/src/apolloDecorator.ts#L98

Typescript does not know how to type this, and there is an issue here:  https://github.com/Microsoft/TypeScript/issues/4881 where it is recommended to do "interface merging" which is what I did to

[2016-06-06 06:43] TobiasKrogh opened #25 "Help needed with graphQL and CORS"
Hi,

I tried to add a middleware to the networkInterface to check if I can set up `withCredentials` flag there to support sending Cookies alongside a cross origin graphQL request.

I was following the documentation for Angular 2 [here](http://docs.apollostack.com/apollo-client/angular2.html) and Apollo Client [here](http://docs.apollostack.com/apollo-client/) but TypeScript complains about this co

[2016-06-07 06:00] bkinsey808 opened #26 "Should the decorator use metadata?"
One of the angular2 core devs mentioned in a slack that it was not recommended practice (in typescript) to have decorators that set methods or properties on the class. Instead, in angular2, decorators set metadata. Could the decorator in this project be re-written to use metadata somehow for the mutation methods instead of directly setting a method?

[2016-06-10 09:13] nebiljabari commented on #21
The mutation is not include in the query - in schema.js:
[code]
If you just want to display your in and output :
![angular2-apollo](https://cloud.githubusercontent.com/assets/16270454/15959673/27e551fc-2efc-11e6-852a-c5b223468ef7.png)

[2016-06-13 23:26] lypanov commented on #21
Yup, working thanks to @nebiljabari

[2016-06-13 23:26] #21 closed

[2016-06-15 19:34] Urigo commented on #15
closing as I haven't got feedback

[2016-06-15 19:34] #15 closed

[2016-06-15 19:40] Urigo commented on #22
@Quramy how would you want to see the API?
also how would the import statements look?

[2016-06-15 19:46] Urigo commented on #26
@bkinsey808 can you please send some links and info where I can read more about it?
also maybe how would you see the new implementation?
Thanks

[2016-06-16 01:19] Quramy commented on #22
Thanks for your reply.

I see https://github.com/apollostack/angular2-apollo/blob/master/src/angular2Apollo.ts#L14 so it seems that we can use the `apolloClient` provided by `Angular2Apollo` service.

And I also see https://github.com/apollostack/angular2-apollo/blob/master/examples/hello-world/client/main.ts#L35 .
In this code, you set `client` option to `@Apollo` decorator's argument but the `cl

[2016-06-16 03:27] bkinsey808 commented on #26
I wish I had saved the slack discussion on angularbuddies in the typescript channel where I asked about this. I can't find it now. @robwormald was the angular core dev I slacked with who gave me his opinion about decorator best practice.

What I'm visualizing is that instead of having the decorator set things directly on the component, instead metadata is set. A service is injected into the compon

[2016-06-17 12:10] kamilkisiela commented on #26
@bkinsey808 But how that service would know about the component? You can't read metadata without providing a target class.

We could inject that service (let's call it ApolloHandler) inside Apollo decorator using this:

[code]

But how read metadata inside ApolloHandler:

[code]

ApolloHandler could receive an instance of component as an argument of some class or just inside constructor but it's n

[2016-06-17 17:15] kamilkisiela commented on #25
#### About first question

It should be a arrow function:

[code]

or shorthand function:

[code]

It also should be provided as an array and the correct name of that method is `applyMiddleware`:

[code]

#### About CORS

Following docs [from here](http://docs.apollostack.com/apollo-client/index.html#corsSupport):

[2016-06-17 17:16] kamilkisiela commented on #25
I don't think `withCredentials` would solve the CORS problem.

[2016-06-17 17:21] kamilkisiela commented on #23
@pso-aeb I'm not that familiar with SystemJS but in the very next release of `angular2-apollo` there will be only 1 dependency: `lodash` and 2 peer dependencies: `apollo-client` and `@angular/core`.

So it would be easier for you to install `angular2-apollo`.

If a problem with missing modules of `apollo-client` will remain then you should talk directly to guys from that library.

[2016-06-17 18:22] kamilkisiela commented on #20
@bkinsey808 Here's my implementation of `angular2-apollo` with `angular-universal`.

[kamilkisiela/universal-starter-apollo](https://github.com/kamilkisiela/universal-starter-apollo).

@Urigo  And... it's working! :fire:

[2016-06-19 08:28] Urigo commented on #20
OMG!!  @kamilkisiela you are **the** king.

[2016-06-19 18:17] TobiasKrogh commented on #25
@kamilkisiela Thanks for your response.

In your code examples you use `applyMiddleWare` (upper case W). In the text you mention `applyMiddleware` (lower case w). 😉 So a bit of confusion stays here.

The server already returns the proper handling for CORS but since a cookie is used for some authentication data and the cookie is only sent when `withCredentials` flag is set it is not enough to only

[2016-06-19 18:17] #25 closed

[2016-06-20 08:43] pso-aeb commented on #23
Thanks for your answer!

I managed to get it running by now.
The solution is to actually add all dependencies in the SystemJS config.

[2016-06-20 18:24] kamilkisiela commented on #23
Hi @pso-aeb !

Isn't it painful to add every indirect dependency manually? Does SystemJS suppose to work that way?

[2016-06-20 18:28] kamilkisiela commented on #22
We would have to wrap the constructor of a component to have an access to `defaultApolloClient`. I'm going to think about it!

[2016-06-21 06:56] pso-aeb commented on #23
It is somewhat painful, but doable.
I am not an expert in SystemJS, but it seems that way. You can also use SystemJS to create a single minified JS-file, so it somehow needs to know all required packages and how to include them.

[2016-06-23 21:34] TrikinCurt opened #32 "Invalid provider error (RC3)"
Unsure if this is specific to Angular2 rc3, but I am getting an error:

Invalid provider - only instances of Provider and Type are allowed, got: [object Object]

This is using Webpack for what it is worth, but the code DID work in the past.  The error is when bootstrapping the Apollo Client.

[2016-06-23 22:28] kamilkisiela commented on #32
Is this how you boostrap your app?

[code]

If so, are you using `@Apollo` decorator or `Angular2Apollo` service?

[2016-06-23 22:57] TrikinCurt commented on #32
It works if I build angular2-apollo from the source - is the npm out of date?

[2016-06-23 22:59] kamilkisiela commented on #32
@TrikinCurt Yes, there were few PRs accepted but the new version hasn't been released yet.

I think you should expect new release in few days!

[2016-06-27 15:34] manuelfink commented on #23
@pso-aeb I think it would be a good idea to reopen this thread. SystemJS is supposed to be able to load node_modules with subdependencies however I didn't got it working with angular2-apollo yet. However I guess its ways more convenient to load the library and let the sub dependencies automatically be loaded.

[2016-06-28 13:35] pso-aeb commented on #23
Attached the config-files that worked for me.
[Uploading config.zip…]()

[2016-06-28 14:42] manuelfink commented on #23
@pso-aeb got an message you uploaded an config file as sample ... however its not here any more. Can you share it again?

[2016-06-28 15:03] pso-aeb commented on #23
@manuelfink Upload is blocked by the local network setting. I will upload when I am at home

[2016-06-29 07:55] kamilkisiela commented on #32
@TrikinCurt You can update your app to use the latest release of `angular2-apollo`, which is `0.3.0`.

Let me know if it works for you!

[2016-06-30 17:01] kamilkisiela commented on #20
SSR support [has been released](https://github.com/apollostack/angular2-apollo/releases/tag/0.3.0) with the latest version.

[2016-06-30 17:01] #20 closed

[2016-06-30 17:06] kamilkisiela commented on #32
@mention me if it is still an issue

[2016-06-30 17:06] #32 closed

[2016-06-30 17:14] stubailo opened #36 "No way to get loading state of a query"
In `react-apollo`, loading state of a query is extracted from the Redux store directly (I think - is this correct @jbaxleyiii?). This approach probably won't work with Angular 2.

So how can we make it accessible? Should we add an API to `ApolloClient` for this? Perhaps it should be in the results returned by the `watchQuery` observable?

[2016-06-30 17:16] purban commented on #36
If the watchQuery could have a method to fetch the loading state that would be perfect. 👍

[2016-06-30 17:36] purban opened #37 "The decorators are using the client but it's not injected"
The client is an arg of the decorator but the anotation is outside the class, so the only way to use it is by actually importing the client. In Angular2 we do DI through the constructor of the app, so it would make more sense to have the annotation inside any of the class' member.

https://github.com/apollostack/angular2-apollo/blob/master/tests/apolloDecorator/queries.ts#L378

Unfortunately right

[2016-06-30 17:40] kamilkisiela commented on #37
#22 and #26

[2016-06-30 17:45] kamilkisiela commented on #36
With decorator, for now we have just `loading: boolean` that is set to `true` when subscription begins and to `false` when data is ready or there was an error.

https://github.com/apollostack/angular2-apollo/blob/master/src/apolloDecorator.ts#L154-L162

[2016-06-30 18:01] stubailo commented on #36
Related: https://github.com/apollostack/apollo-client/issues/342

[2016-07-05 14:54] kamilkisiela commented on #23
@pso-aeb's `systemjs.config.js`:

[code]

[2016-07-07 12:25] kamilkisiela opened #41 "Use a decorator to set metadata and a service to manipulate them inside a component"
An issue to keep track of `decorator  + service` thing in one place.

Related to #22 #26 and #37

---
- [x] use service to manipulate queries and mutations
- [x] set metadata with queries and mutations
- [x] use defaultClient

---

I'm going to put here my thoughts and plans for the future API change.

[2016-07-07 12:27] kamilkisiela commented on #22
Closing in favor of #41

[2016-07-07 12:27] #22 closed

[2016-07-07 12:27] kamilkisiela commented on #26
Closing in favor of #41

[2016-07-07 12:27] #26 closed

[2016-07-07 12:27] kamilkisiela commented on #37
Closing in favor of #41

[2016-07-07 12:27] #37 closed

[2016-07-17 11:31] #23 closed

[2016-07-18 00:46] superchris opened #48 "Can't call rxjs observable operators on object returned by watchQuery"
Tried to write some code that did something like:

[code]

and was surprised to find map wasn't available even after I remembered to do the right rxjs import. It seems like this is something that would be desirable, but watchQuery doesn't return a real rxjs observable AFAICT. Am I doing it wrong or is this just not a thing? I can try to do a PR if this is something that's just not there yet.

[2016-07-18 12:55] Urigo commented on #48
@superchris can you try with the latest master?

If it doesn't work for you, I would love a PR for that and would happily merge!

[2016-07-18 14:30] Urigo commented on #48
Try the new 0.4.0 version

[2016-07-19 16:57] kamilkisiela commented on #48
@superchris Currently `Angular2Apollo.watchQuery` returns a simple Observable ([`ObserableQuery`](https://github.com/apollostack/apollo-client/blob/master/src/ObservableQuery.ts#L11)).

You can use it with Rx Observable:

[code]

I'll try to solve this, feel free to help with it :)

[2016-07-20 12:12] #48 closed

[2016-07-26 07:21] hlehmann opened #55 "The redux way with ng2-redux"
Could we implement a very similar version of the redux integration:
In the bootstrap

[code]

In the component

[code]

[2016-07-26 07:37] stubailo commented on #55
What do we need to do to implement this? Perhaps we can take some of the code from `react-apollo`?

[2016-07-26 08:00] hlehmann commented on #55
For the bootstrap there is nothing to do.
For the component I'm not sure that we can write it that way, @Urigo any thought ?

First step should be something like that
[code]
The code should be the same of react-apollo exept the link with angular life cycle.

[2016-07-26 08:09] stubailo commented on #55
How do people use Redux with Angular usually?

[2016-07-26 08:32] hlehmann commented on #55
it's well documented here:
http://ngcourse.rangle.io/handout/redux/

[2016-07-26 18:15] Urigo commented on #55
@hlehmann I would love to see an example of how to use the `connect` pattern with ng-rx.
Or also using ngRedux with `connect` to an Angular 2 Component.
I've looked a lot about it and haven't found the equivalent.

Right now, I believe that the current best practice is to create a dumb Component and a parent Component that will render it.
Like [this](https://github.com/StephenFluin/apollo-ship/blo

[2016-08-09 08:21] patrickkeller opened #56 "Correct usage with RxJS"
According to the docs the `watchQuery` should return an Observable that can be used with RxJS. But if i try to subscribe to the `ApolloQueryObservable` i get `Cannot read property subscribe of undefined`. This happens because the `ApolloQueryObservable` has not such method.

I figured out that the following works:

[code]

But this won't work:

[code]

How is this intended to work? Maybe i'm getti

[2016-08-10 09:13] paralin opened #57 "ApolloQueryObservable not exported"
ApolloQueryObservable is not exported, is this intended? I can't type my class variables because of this.

[2016-08-10 13:19] kamilkisiela commented on #57
Should fix it #54

[2016-08-12 08:39] kamilkisiela commented on #56
@patrickkeller #59 should fix it but could you check it in your app?

[2016-08-12 09:18] #57 closed

[2016-08-12 09:21] kamilkisiela commented on #48
@superchris With `v0.4.2` you'll be able to use Rx Operators with Observable returned by `watchQuery` method.

PR #59

Should be released soon.

[2016-08-12 09:23] #56 closed

[2016-08-12 10:49] kamilkisiela opened #61 "Angular RC5 support"
- [x] check if it breaks something
- [x] create NgModule
- [x] use NgModule in the HelloWorld example

[2016-08-12 10:51] kamilkisiela commented on #36
#43

[2016-08-12 10:51] #36 closed

[2016-08-12 11:07] kamilkisiela opened #62 "Query's variables as Observables"
[code]

[2016-08-12 16:09] kamilkisiela commented on #61
PR #63

[2016-08-12 19:28] #61 closed

[2016-08-13 18:12] gsans commented on #55
I would say that these are the options I've seen being used in the Angular Community:
1) original Redux; there's a RxJS 5 middleware (redux-observable)
2) 3rd party bindings: ng2-redux
3) Observables: ngrx/store and co

Adoption is still slow so no clear winner.

[2016-08-16 07:38] #62 closed

[2016-08-20 09:08] kamilkisiela opened #73 "decorator: @angular/router reuses the component so data is being dropped"
We should definitely support this!

Instead of creating new object (`{ errors: null, loading: true }`) reuse it.

[2016-08-20 12:43] #73 closed

[2016-08-22 23:38] DxCx opened #76 "Bug with watchQuery / ApolloQueryObservable"
Hi, I Would like to report a bug i've just found in the Observable,
looking at ApolloQueryObservable (https://github.com/apollostack/angular2-apollo/blob/b887d17b6ef0a74fcfed1853ca8c9921fc706162/src/ApolloQueryObservable.ts#L9),
it is inherenting from Observable, and getting the observer creation cb as last parameter,
next, looking at watchQuery function (https://github.com/apollostack/angular2-ap

[2016-08-22 23:45] DxCx commented on #76
small update,
since i'm not using variables (ATM) just trying to figure out if the basic flows are working,
i tried to access client.watchQuery directly (which more or less confirms my assumption above),
now the watchQuery sends me initial value, but i don't see any polling or updating happens. :\

[2016-08-23 00:27] DxCx commented on #76
Hi,

I've submitted a patch that fixes the issue i reported,
also, using forceFetch: true, pollInterval: 1 i was able to make it reactive (Altought it doesn't seem good solution performance-wise).
so now i'm only left with the question, do i need to do any special implementation on server side?
(Now i return different timer string every second)

[2016-08-24 10:48] kamilkisiela commented on #76
It's been fixed in #72 .

Some time ago we moved RxJS related logic to separate package `apollo-client-rxjs`.

[2016-08-24 10:48] #76 closed

[2016-08-24 11:36] DxCx commented on #76
Cool, great :)
Did you make sure the unit test will test this flow?

[2016-08-24 11:39] kamilkisiela commented on #76
Yes yes yes :)

You can [take a look](https://github.com/kamilkisiela/apollo-client-rxjs/blob/master/tests/rxify.ts#L23-L53)

[2016-08-24 14:42] DxCx commented on #76
Yep, great, will cancel my PR :)

[2016-08-29 20:10] kamilkisiela opened #80 "fetchMore is missing on ApolloQuery"

[2016-09-05 02:59] #80 closed

[2016-09-05 18:19] robertohuertasm opened #83 "Hello World: casual-browserify fails in Windows"
I've been trying to run the example in Windows and I've had to change several things to make it work. I'm going to raise some issues in order to know if there's something that I'm missing or the repo has to be updated.

First problem that I have found is that casual-browserify seems to fail in Windows. [I've submitted a PR](https://github.com/Klowner/casual-browserify/pull/2) in order to solve it.

[2016-09-05 18:21] robertohuertasm opened #84 "Hello World: angular2-compilers fails"
Hi, while trying to run the example in Windows 10 I've found issues with this package.
I've had to use `angular2-compilers@=0.6.0` to make it work.

[2016-09-05 18:26] robertohuertasm opened #85 "Hello World: apollo-server module has been moved"
In order to make the example work I've had to install `apollo-server package` and import `apolloExpress` from there and not `apolloServer` from `graphql-tools` as in the current code. If I didn't do this I would get some error stating that the apollo-server had been moved.

[2016-09-05 18:30] robertohuertasm opened #86 "Hello World: schema needs to be of type GraphQLSchema"
See #83, #84 and #85.

According to this changes I've got a new error stating that the schema had to be of type GraphQLSchema so I've changed the string into a valid GraphQL schema.

Note: I was tempted to do a PR with all this but I wasn't fully sure that this was a problem with the repo as I was under the impression that maybe there's something that I'm missing. Anyway, if you feel that a PR wou

[2016-09-05 18:34] robertohuertasm opened #87 "Hello World: Error on app.component.ts ngOnInit"
Related to #83, #84, #85 and #86.

I was getting the following error:
[code]

I've had to cast the return of the map function in line 44 to `ApolloQueryObservable<any>`.

[code]

[2016-09-05 19:11] kamilkisiela commented on #83
Could you try to use `casual` instead of `casual-browserify`? It would help a lot, maybe we could just switch to `causal` and that's it :)

[2016-09-05 19:13] kamilkisiela commented on #84
I'm going to move Hello World example to be used with `angular-cli` instead of Meteor.

[2016-09-05 19:15] kamilkisiela commented on #85
As I mentioned in other issue that you posted, I will move Hello World to angular-cli and with that I will use `apollo-server@0.2.X`.

It's already in use in GitHunt-Angular2

[2016-09-05 19:18] robertohuertasm commented on #84
Ok, so the meteor example will be completely removed then?

[2016-09-05 19:19] robertohuertasm commented on #83
Sure, I'll give it a try and let you know!

[2016-09-05 21:15] kamilkisiela commented on #83
@robertohuertasm Hi again! :) Could you try the new example #88 ?

[2016-09-05 21:15] kamilkisiela commented on #85
Related #88

[2016-09-05 21:16] kamilkisiela commented on #87
This is because `.map` returns an `Observable` but it's still `ApolloQueryObservable`. We will try to solve this some way but I don't think it's possible right now.

I added `as` thing in #88

[2016-09-05 21:17] kamilkisiela commented on #86
New version of Hello World is coming soon #88

[2016-09-05 21:22] kamilkisiela commented on #84
This will be no longer a case after #88 will be merged.

About Meteor example. I don't want maitain Hello World example that is based Meteor because there are many developers that are not familiar with Meteor. In my opinion AngularCLI (with webpack or even just webpack without ng cli) fits into this really well.

You can also create your own repository with the demo based on Meteor, I would help y

[2016-09-05 21:22] robertohuertasm commented on #83
Ok. Btw, I've tried `casual` and seems to be working

[2016-09-05 21:23] kamilkisiela commented on #83
That's fantastic! I'll merge it soon

[2016-09-05 21:24] #86 closed

[2016-09-05 21:26] #84 closed

[2016-09-05 21:27] #87 closed

[2016-09-05 21:27] #85 closed

[2016-09-05 21:28] kamilkisiela commented on #83
@robertohuertasm I really appreciate your feedback! Thank you so much :)

[2016-09-05 22:24] robertohuertasm commented on #83
@kamilkisiela you're very welcome! :wink: It's a pleasure to help in any way possible. I'm testing it right now. It takes forever to install all the npm dependencies... Server works ok but the client is not working for me. It's complaining of lacking typings (see the attachment). I'd suggest adding some postInstall script in order to execute typings install too because I was lacking graphql typing

[2016-09-05 22:26] robertohuertasm commented on #83
Which typescript version should I be using? I've got 1.8.10 installed.

[2016-09-05 22:28] kamilkisiela commented on #83
But the `typings/` suppose to be included in the repository right now, so there's no point of use `postinstall` for it.

AngularCLI uses ts@2.0.0

Try to run this:
[code]

[2016-09-05 22:34] robertohuertasm commented on #83
@kamilkisiela yes, that did the trick!

[2016-09-05 22:35] #83 closed

[2016-09-07 11:37] oexza opened #89 "How to do file upload mutation?"
How does one include a file upload in a mutation?

Awesome project btw.

[2016-09-08 18:35] kamilkisiela commented on #89
Related apollostack/apollo-client#586

[2016-09-12 20:20] oexza commented on #89
thanks @kamilkisiela  i looked into that but i have a hard time transferring the idea in the referenced tutorial to angular 2. especially this bunch of code:

`            for(let { node, path } of new RecursiveIterator(request.variables)) {
                 if (node instanceof File) {
                    const id = Math.random().toString(36);
                    formData.append(id, node);

[2016-09-19 00:03] calbear47 opened #102 "NativeScript support"
I am about to start a new project with ng2. I plan on re-using a lot of my services/core logic from my ng2 app in a NativeScript app. Will angular2-apollo play nicely with NativeScript?

[2016-09-19 11:38] iguissouma opened #103 "Cannot find module 'graphql'."
Hello,
I have the following error when executing `ng serve`  `Cannot find module 'graphql'`.

[code]

My frontend module is built with the latest version of angular-cli.
my package.json looks like below:

[code]

`graphql` module is present on node_modules, do yo have any idea what cause this error.
Thanks in advance.

[2016-09-20 20:17] kamilkisiela commented on #103
[code]
and then add
[code]
to any `d.ts` file that is visible for TypeScript. *You can use `./src/typings.d.ts` if you're using seed project from `angular-cli`.*

[2016-09-20 21:50] iguissouma commented on #103
thanks problem resolved.

[2016-09-20 21:50] #103 closed

[2016-09-21 11:37] Urigo commented on #102
@calbear47 there shouldn't be any reason I it would not work, but I haven't tried it yet.
Would love to see an example app from you, and help you out making sure it works nicely

[2016-09-23 06:23] bkinsey808 opened #106 "npm install error with the latest typescript and the latest angular2-apollo"
npm ERR! Linux 4.2.0-41-generic
npm ERR! argv "/home/bkinsey/.nvm/versions/node/v6.3.1/bin/node" "/home/bkinsey/.nvm/versions/node/v6.3.1/bin/npm" "run" "build"
npm ERR! node v6.3.1
npm ERR! npm  v3.10.3
npm ERR! code ELIFECYCLE
npm ERR! angular2-apollo@0.4.6 build: `tsc`
npm ERR! Exit status 2

[2016-09-23 18:57] iguissouma commented on #102
@calbear47 @Urigo
I did some experiment with angular-cli, apollo, native-script(used nativescript-ng2-magic).
I had some issues:
1) redux/lib/index.js line 38 process variable is not defined, so I deleted this condition process.env.NODE_ENV !== 'production' &&
2) app then started but got error on simulator
![image](https://cloud.githubusercontent.com/assets/9085108/18797430/368e763c-81ce-11e6-94a3

[2016-09-23 19:06] calbear47 commented on #102
@Urigo Thanks, I'll keep you posted. It's still a couple months out.

@iguissouma Thanks for the info. However, you'll be writing different views/styles for your NativeScript app then the ones you used for your web app...so the components and dependencies could be totally different. I was planning on just re-using services, and maybe some core components...Thoughts?

[2016-09-23 20:16] iguissouma commented on #102
@calbear47 yes you'll be writing different views *.tns.html for native script and *.html for web ans use some component, that's the idea about  nativescript-ng2-magic. for dependencies it's separate the web and mobile has his own package.json.

You can take alook also to this advanced angular see to see how to share code between the different apllication web/mobile/desktop [angular2-seed-advanced]

[2016-09-24 07:06] iguissouma commented on #102
Resolved the error 2 ang got a new error:

[code]

[2016-09-24 14:49] iguissouma commented on #102
- Inject Angular2Apollo service

For some reason Injecting Angular2Apollo does not work properly on nativescript like below and leads to null object:

[code]
the code below does not work too

[code]

So, I init it manually like below to get it working:

[code]

- can't find the variable `process`

NativeScript can't find the variable `process` on the redux lib `nativescript/node_modules/redux/lib/

[2016-10-03 07:53] kamilkisiela commented on #106
#108

[2016-10-03 07:53] #106 closed

[2016-10-03 07:57] kamilkisiela commented on #102
@iguissouma Have you used `ApolloModule.withClient(client)` inside your main module that is bootstraped?

[2016-10-03 08:44] iguissouma commented on #102
Yeah I resolved that error,
You're right `ApolloModule.withClient(client)` was missing.

I got Apollo working on NativeScript with some tweaks.

[2016-10-03 08:46] kamilkisiela commented on #102
Could you describe those tweaks? It would help us a lot :+1:

[2016-10-03 09:24] iguissouma commented on #102
I already described problems/solution, I will do more tests and keep you updated.
Thanks for the great work.

[2016-10-03 11:25] Urigo commented on #102
@iguissouma would be great to have blog post/tutorial from you about how to create a sample project

[2016-10-04 22:31] mmgdort opened #116 "Not working with Angular Universal"
I'm using Universal-Starter. When the app is running in the client all is fine. When it runs on the server the following error is thrown in the apollo-client package.

[code]

[2016-10-05 09:19] kamilkisiela commented on #116
Try to install `isomorphic-fetch` or some similar polyfill of `fetch`

[2016-10-05 09:21] kamilkisiela commented on #116
You of course have to have `Promise` available. NodeJS 6+ (or maybe 5+ too) supports Promises, but if not, try to install polyfill of `Promise`, like `es6-promise` for example.

[2016-10-05 09:22] kamilkisiela commented on #116
I'm going to update this https://github.com/kamilkisiela/universal-starter-apollo
It's a Universal Starter but with ApolloStack.

Maybe you want to help me?

[2016-10-05 09:35] mmgdort commented on #116
Ok, I'll take a look, don't know if I'll be able to do it

[2016-10-05 11:07] mmgdort commented on #116
I'm not having lucky.
I've installed isomorphic-fetch and imported in server.ts but it throws to me another error

[code]

[2016-10-05 11:47] kamilkisiela commented on #116
Take a look at this (I updated Angular to v2.0.0)
https://github.com/kamilkisiela/universal-starter-apollo

[2016-10-05 13:39] mmgdort commented on #116
Now it works great!

I was creating the network interface like this
[code]
without the ```/graph``` path because I understood that when I read the docs
http://dev.apollodata.com/angular2/initialization.html#creating-client

Which says
[code]

Thanks a lot !

[2016-10-05 13:39] #116 closed

[2016-10-06 21:55] Urigo commented on #102
@iguissouma nice post, can you shoot me an email, I want to help you improve it a bit if you like

[2016-10-08 17:49] metzc opened #119 "Please add Ahead of time compile support"
e.g. needed for Ionic 2 RC0

[2016-10-08 21:40] stubailo commented on #119
Can you go into detail about what is blocking it from working?

[2016-10-10 08:22] kamilkisiela commented on #119
@metzc I'm going to work on it but not in next few days. If anyone wants to create a PR, it would be nice :)

@stubailo An extended `tsc` but supports html etc. This way all templates are being compiled to js and external html and css is bundled within an app.

This way you get templates compiled to JS:

[code]

instead of:
[code]

[2016-10-10 17:35] stubailo commented on #119
Sure, I guess I'm wondering why this repository has to be involved in that. Isn't compiling the code some other tool's problem?

[2016-10-10 17:40] kamilkisiela commented on #119
It has few requirements and if I remember correctly `angular2-apollo` doesn't fulfills them (or at least one).   I haven't looked deeper into this, did a quick attempt to see if it works, that's all.

[2016-10-11 10:19] metzc commented on #119
as @stubailo said there are requirements. This post has some useful hints: https://medium.com/@isaacplmann/making-your-angular-2-library-statically-analyzable-for-aot-e1c6f3ebedd5#.pbg52i3qt

Part of the problem is also the apollo-client library where i created a seperate issue: https://github.com/apollostack/apollo-client/issues/758

I tried to do some fixes myself and i found out that the Apollo

[2016-10-14 00:44] stubailo opened #122 "Build failing with apollo-client > 0.4.15"
@kamilkisiela @Urigo any reason why? I see we have just been closing the greenkeeper PRs.

[2016-10-14 10:11] kamilkisiela commented on #122
It breaks on `0.4.20`.

@stubailo Could you explain what this stands for?

[code]

[2016-10-14 10:14] kamilkisiela commented on #122
It works with `returnPartialData: true` but why? Changelog [says](https://github.com/apollostack/apollo-client/blob/master/CHANGELOG.md#v0420)  nothing about it.

[2016-10-14 12:22] kamilkisiela commented on #122
And I think the `Promise` should resolve when the whole data is ready soooo... I'm waiting to merge #123 until you'll give some light on the topic.

[2016-10-14 12:26] kamilkisiela opened #125 "Remove Apollo decorator"
It's deprecated since `v0.5.0`

[2016-10-14 12:27] kamilkisiela commented on #125
@Urigo Not quite sure if we should push it with `v0.6.0` or with `v1.0.0`.

[2016-10-14 15:27] Urigo commented on #125
`0.6.0`

[2016-10-14 18:04] Urigo commented on #125
@kamilkisiela can you link to the issue (or create one) on the Angular repo to explain why we decided not to use it for now?

[2016-10-14 18:05] kamilkisiela commented on #125
@Urigo Sure!

[2016-10-20 11:00] #122 closed

[2016-10-21 16:19] camiloazula commented on #55
https://github.com/apollostack/apollo-client/issues/593#issuecomment-255331038

[2016-10-25 13:50] kamilkisiela opened #128 "Remove ApolloQueryPipe"
Use `SelectPipe` instead (same logic)

[2016-10-25 13:58] #125 closed

[2016-10-25 13:59] kamilkisiela commented on #128
Closed by #129

[2016-10-25 13:59] #128 closed

[2016-10-28 20:53] vangorra commented on #119
Instead of using ```ApolloModule.withClient(APOLLO_CLIENT)```, I ended up using a provider factory. Here is my work around.

constants/ApolloClient.ts
[code]

modules/AppModule.ts
[code]

[2016-10-29 14:02] kamilkisiela commented on #119
DONE! :rocket: #124

[2016-10-29 14:02] #119 closed

[2016-10-29 14:02] kamilkisiela commented on #119
And [an example](https://github.com/apollostack/angular2-apollo/tree/master/examples/hello-world)

[2016-11-01 13:40] Crevil opened #141 "Options typings for Angular2Apollo service"
To help development, typings on the `options` arguments in `Angular2Apollo` service methods could be added.

### `Angular2Apollo.watchQuery()`
Link to source: [`Angular2Apollo.watchQuery()`](https://github.com/apollostack/angular2-apollo/blob/845a6b68d1b2dbf8f0ee577206007323cd8d38d1/src/Angular2Apollo.ts#L24)
Typedef: [`DeprecatedWatchQueryOptions`](https://github.com/apollostack/apollo-client/blo

[2016-11-02 11:41] manuelfink opened #142 "Angular2-Apollo Authorization Auth Guard - Expired Login"
There is an sample for authorization (sign request with authorization header) on the [docs](http://dev.apollodata.com/angular2/auth.html).

However it is a little bit unclear to me, how to watch request for failed authorization,missing rights or login and handle accordingly?

- Missing login --> redirect to login route and retry afterwards
- Missing rights --> show error eg. through toast notifica

[2016-11-02 12:10] kamilkisiela commented on #142
Basically, it's not fully apollo-specific question. Imagine the same situation with `Http` service.

I don't think you can achieve it without overwriting `Angular2Apollo` service (the same for `Http`). As far as I know there's no *interceptor* even in Http service.

It means you have to "catch" all the requests.
You could extend Angular2Apollo class and add this "interceptor" to [`catch`](https://

[2016-11-02 12:21] kamilkisiela commented on #142
You can take a look here:
https://github.com/angular/angular/issues/2684#issuecomment-195751854

[2016-11-02 13:04] kamilkisiela commented on #141
@Crevil Totally agree we need those.

Imagine the situation when the ApolloClient changes those interfaces.

Let's say we support `apollo-client` in versions `^0.5.0`.
Now when there's a change in those interfaces we have to release a new version that supports only `^0.5.2`.

I see three ways of doing this:

- release new versions of `angular2-apollo` on each change
- make `apollo-client` expose t

[2016-11-02 17:05] Crevil commented on #141
@kamilkisiela
The first option is the most tedious one but keeps things synchronized closely.
The second one would be an easy fix and would work as long as the service is a simple wrapper.
The last one makes things confusing as long as we are only delegating things to `apollo-client` as they are the same interfaces.

From this I think option two is the better one, for now. If the service get to be

[2016-11-02 17:32] kamilkisiela commented on #141
#145

[2016-11-02 17:45] kamilkisiela commented on #141
#145

[2016-11-02 17:45] #141 closed

[2016-11-12 02:57] geocine commented on #119
for some reason I could still now make your example work  on ionic. I am using the correct versions of packages?
[code]

[2016-11-12 03:39] geocine commented on #119
Sorry I have now solved it , I did not notice it should be

[code]

not
[code]

[2016-11-13 14:11] geocine opened #154 "compilerOptions.lib on ionic"
I have read this http://dev.apollodata.com/angular2/initialization.html#typescript-es2015

This only works if I have to do `ionic build <platform>` or `ionic run <platform>` . But will not work if I do `ionic serve` I will see the `es6-shim` issues and setting `compilerOptions.lib` back to `es6`, `es2015` will fix it.
What is the reason? Is there a way around this? I have to modify tsconfig everyt

[2016-11-13 19:36] Urigo opened #155 "Bring back graphql decorator to angular2-apollo"
Waiting for [this](https://github.com/angular/angular-cli/issues/2799) issue of Angular

[2016-11-13 19:36] Urigo commented on #125
keep track here - https://github.com/apollostack/angular2-apollo/issues/155

[2016-11-14 13:53] manuelfink opened #156 "typescript transpiler errors"
Is it anyhow possible to get rid of the typescript errors caused by Angular2Apollo?

[code]

also apollo-client is throwing a lot of typescript transpilation errors:

[code]

@Urigo wouldn't it make sense to include typed-graphql into angular2-apollo to avoid this errors?

Similar discussions are on apollo-client:

 * https://github.com/apollostack/apollo-client/issues/725
 * https://github.com/ap

[2016-11-14 13:57] manuelfink commented on #156
manually installing `npm install --save @types/chai @types/isomorphic-fetch typed-graphql` solves the problem.

However I'm still getting one error, which I don't know how to get rid off?

[code]

However code still works in client

[2016-11-15 01:21] stubailo commented on #156
Are you using Typescript 2?

[2016-11-15 10:24] kamilkisiela commented on #156
`@types/chai @types/isomorphic-fetch typed-graphql` are related to `apollo-client`

About `ApolloQueryObservable`, maybe you just forgot to import it from `angular2-apollo`?

[2016-11-15 10:30] kamilkisiela commented on #155
#41

[2016-11-15 11:14] schickling commented on #156
Any update on "removing" the need for the `@types/chai @types/isomorphic-fetch typed-graphql` workaround?

[2016-11-15 11:21] kamilkisiela commented on #156
@schickling Right now, TS adds `@types/chai` to the distributed files, it's not apollo specific, it's a known issue with TypeScript and it will be fixed with `2.1`. I can't find an issue about it, will look for it later today.

[2016-11-15 13:27] patriknil90 opened #161 "Dynamic gql queries without arguments, possible?"
Is it possible to construct gql string variables with passed variables as such?:
[code]
this.getRules("Day"); gives error:

[code]

A multiline string variable, without the "gql" logs the following:
[code]
logs:
[code]
Which would be how an accepted graphql-query would look like in my case. Is there some way I could construct such a variable and pass it as the query in my watchQuery()? Iv'e tested

[2016-11-15 13:40] Urigo commented on #41
Also waiting for [this](https://github.com/angular/angular-cli/issues/2799) issue of Angular

[2016-11-15 13:40] #155 closed

[2016-11-16 14:09] kamilkisiela commented on #161
First of all, this won't work:

[code]

`gql` is a function, by using it like this:
[code]

TS or Babel compiler turns this into

[code]

You decoupled the string to 3 different strings, so you have:

[code]

So you're using `gql` only in the first string (`query... `)

[2016-11-16 14:10] kamilkisiela commented on #161
this should work

[code]

[2016-11-16 14:27] patriknil90 commented on #161
This solved my problem.

This way I can get rules for every component in my app through one method in one single shared service B-)
Couldn't just figure out how to achieve this.

Thank you very much @kamilkisiela !

[2016-11-16 14:27] #161 closed

[2016-11-16 14:28] kamilkisiela commented on #161
@patriknil90 Feel free to hit me with any question, any time :)

[2016-11-16 22:31] stubailo commented on #161
@patriknil90 I just want to warn you that this is not a good way of using GraphQL, see here: https://dev-blog.apollodata.com/5-benefits-of-static-graphql-queries-b7fa90b0b69a

[2016-11-17 09:31] intellix opened #162 "Initialization docs recommend deprecated usage of createNetworkInterface as of client 0.5"
Getting this error since updating: `Passing the URI as the first argument to createNetworkInterface is deprecated as of Apollo Client 0.5. Please pass it as the "uri" property of the network interface options.`

The docs reference a deprecated usage since client 0.5.0:

[code]

Should be:
[code]

[2016-11-17 09:34] intellix commented on #162
Apologies, didn't see the docs repository :) created a PR there

[2016-11-17 09:34] #162 closed

[2016-11-21 12:15] Dunos commented on #119
I still get the error "Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function" when using `ApolloModule.withClient(client)`, any idea why?

[2016-11-22 05:49] emolr opened #167 "Can't serve app built by angular-cli using command `ng serve --aot`"
Running `ng serve --aot` fails to run.

This is the console error:
[code]

I'm not sure, but it might be related to https://github.com/angular/angular/issues/11402

[2016-11-22 10:25] kamilkisiela commented on #167
@emolr Try to load a client [like this](https://github.com/apollostack/angular2-apollo/blob/master/examples/hello-world/src/app/client.ts)

[2016-11-22 10:27] kamilkisiela commented on #167
Basically, you can always take a look at the [HelloWorld example](https://github.com/apollostack/angular2-apollo/tree/master/examples/hello-world) and also on [GitHunt](github.com/apollostack/GitHunt-angular2)

[2016-11-22 14:18] emolr commented on #167
Hey @kamilkisiela Thank you so much!
It looked so similar to my client file that i didn't notice, but it did the trick! Thank you!

[2016-11-22 14:18] #167 closed

[2016-11-25 13:10] drager opened #174 "Please bring back the decorator"
Hey, could you please bring back the decorator? We have built a application using the decorator, but since you removed it, we can't upgrade to use the latest version of apollo...

[2016-11-25 14:06] Urigo commented on #174
Please track [here](https://github.com/apollostack/angular2-apollo/issues/41) and [here](https://github.com/apollostack/angular2-apollo/pull/165)

[2016-11-25 14:06] #174 closed

[2016-11-26 19:23] rebing opened #175 "How to make requests to different URI's, using the same Client?"
I need to send a mutation to another URL, but I cannot figure out, how to change it, while using the same ApolloClient. I cannot create another Client, because cookies can't be shared over Clients or at least I haven't figured out how to (it seems the 'Set-Cookie' header is restricted and only handled by the browser).

[2016-11-26 19:38] rebing commented on #175
Seems I just needed to set the cookie's domain argument as '.mydomain.com' and now the cookies are shared between my subdomains...

[2016-11-26 19:38] #175 closed

[2016-12-02 12:37] conor-mac-aoidh opened #176 "Refetch does not trigger subscribe"
This is a question/possible bug about the `refetch` method documented [here](http://dev.apollodata.com/angular2/receiving-updates.html#Refetches).

I noticed that `refetch` returns a promise that resolves the new data. However, I had expected that a subscription on the original query would be triggered when `refetch` is called. This is not the case, eg:

[code]

I would expect the subscribe callba

[2016-12-02 12:57] intellix opened #177 "Doesn't work with latest version of ngc compiler"
So the latest version gives some warnings/errors when you try to use functions that return providers. The compiler isn't able to resolve that metadata.

Currently you import the module like: `ApolloModule.withClient(client)`
Which gives the error: `UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Error encountered resolving symbol values statically. Function

[2016-12-02 19:05] savovs commented on #25
Guys, the CORS section isn't present in the docs.

[2016-12-04 13:42] geocine commented on #154
Solved here https://github.com/apollostack/apollo-client/issues/963#event-875503850

[2016-12-04 13:42] #154 closed

[2016-12-06 16:37] baloodevil opened #180 "Typescript error using RxJs"
The Apollo Angular 2 RxJs [example code ](http://dev.apollodata.com/angular2/queries.html#rxjs)gives a Typescript error (but not a runtime error) for the following line...
[code]

[code]
The return type of watchQuery is `ApolloQueryObservable<any>`.  The type of the class property `data` is too. ?

[2016-12-06 20:17] glendaviesnz opened #181 "Query sent multiple times when binding to more than one async pipe"
Hi

If I bind a .watchQuery result to multiple async pipes in a single view, then for each binding a new query is sent to the server.

It appears that each subscription to a given ApolloQueryObservable causes the query to be sent to the server,  as multiple subscriptions to the  observable returned by .watchQuery within a component class also initiates the call to the server for each new subscript

[2016-12-11 16:15] sebastiannm opened #183 "Tests examples"
Hi,

I couldn't find any examples of how to do the unit testing with angular2-apollo. I always ended up going to the server, or getting errors like "this.apollo.watchQuery is not a function".

Some examples would be nice, at least to use mock data.

[2016-12-14 18:04] #177 closed

[2016-12-14 18:16] kamilkisiela commented on #181
Hi Glen!

`Angular2Apollo` service works exactly the same as `Http` service. It means that if you use `AsyncPipe` multiple times it makes multiple requests. To avoid it you can wrap it manually with an operator of RxJS to share the Observable.

[2016-12-14 18:35] baloodevil commented on #180
This is not an issue.  I misunderstood what the method chain was returning.  It is of type Observable<any> rather than ApolloQueryObservable<any>, because of the .map function.

[2016-12-14 18:35] #180 closed

[2016-12-14 18:48] kamilkisiela commented on #156
I think that you can now `$ npm install apollo-client angular2-apollo` and that's it, no need to install any more packages with types independently. Does it work for you guys?

[2016-12-14 18:49] kamilkisiela commented on #176
Could you create a repository with reproduction? It would be much easier to me to test it :)

[2016-12-14 20:30] glendaviesnz commented on #181
ok - thanks for clarifying that it is expected behaviour - as you note, can deal with it by manually wrapping if needed.

[2016-12-14 20:30] #181 closed

[2016-12-15 14:43] kamilkisiela commented on #176
I've made [a reproduction](https://github.com/kamilkisiela/angular2-apollo-reproduction/tree/176). It works for me. Could you play with it to show the issue?

[2016-12-15 17:34] conor-mac-aoidh commented on #176
@kamilkisiela Thanks for creating. The issue indeed does not occur in the repository you created. However, it does occur in my app.. I'm not sure what differences are (frontend code is very similar)..

But I am using a different backend - [absinthe](https://github.com/absinthe-graphql/absinthe)

I will take another look at this tomorrow, and see if I can diagnose any further the cause of the issue

[2016-12-16 12:13] kamilkisiela commented on #176
@conor-mac-aoidh It not suppose to be related to a backend so there should be something different in our codes. Maybe some package has different version etc?

[2016-12-16 14:43] conor-mac-aoidh commented on #142
@kamilkisiela I'm not sure if this is the best way to go about it, but I have implemented error catching/401 error handling by extending the Angular2Apollo class as follows:

[code]

Note that in order to catch 401 errors properly, I had to detect them in Apollo Client afterware and then throw them again. I had to do this, as I could not get access to the HTTP response body in the normal error han

[2016-12-16 15:32] conor-mac-aoidh commented on #176
@kamilkisiela I'm not sure.. I have updated to the same angular2-apollo, apollo-client, angular, rxjs modules that are used in your reproduction app but no change.. I can't find what is causing this, maybe it is something about my app setup (based on angular-cli generated app)

[2016-12-19 12:26] manuelfink opened #197 "ng serve - Error encountered resolving symbol values statically - with ng 2.2.3"
I just updated to the latest angular version (angular 2.2.3 with angular-cli 1.0.0-beta.22-1).

Now I get an error running ng serve.

`10% building modules 2/2 modules 0 activeError: Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol AppModule in  ./src/app/app.

[2016-12-19 12:42] kamilkisiela commented on #197
We have a solution but we still working on it. It should be released soon :)

[2016-12-19 15:38] kamilkisiela commented on #197
Should be fixed by #195

[2016-12-19 16:26] manuelfink commented on #197
You re fast. Awesome guys! Can you update the docs with an sample on how to use it?

[2016-12-19 16:27] kamilkisiela commented on #197
apollostack/angular2-docs#23 :)

[2016-12-19 16:28] kamilkisiela commented on #197
And [a working example](https://github.com/apollostack/angular2-apollo/tree/master/examples/hello-world)

[2016-12-20 08:45] manuelfink commented on #89
Thinking in scalable architecture designs I prefer to directly upload to s3 or a comparable cloud asset service. Some services even provide resizing etc. Thus my way to go is to make a request to graphql returning a s3 signed hash token which can be used for a direct upload to s3. Sample see [froala editor s3 upload](https://www.froala.com/wysiwyg-editor/docs/sdks/nodejs/image-s3-upload). Gonna im

[2016-12-21 18:03] manuelfink opened #202 "Queries with optional variables which are not provided are not send"
Not sure if this is expected behaviour or a bug?

I just spend ours to realize that all variable, which are defined within a query must be set in watchQuery(query, variables) otherwise the query stuck, is never send to the graphql server and a subscription never returns an response.

Would it not make sense to submit the query with optional variables not be set?

[code]

[2016-12-21 18:25] manuelfink opened #203 "Expose apollo-client resetStore() #FeatureRequest"
I'm trying to clear the whole apollo cache on logout. However this is a little bit tough since Angular2Apollo neither does pass down function apollo-client.resetStore(), nor the apollo.client is accessible, since it is private.

Would it not make sense to either make apollo.client public or pass down resetStore and every other apollo-client functionality?

[2016-12-21 20:17] Tallyb commented on #202
So here is what happened:
- I checked how swapi behaves and wrote that you are probably right.
- I added a comment that there is an explicit message on console specifying the variable is missing
- I realized that is likely that this message is coming from apollo-client and not from angular2-apollo.
- I  have checked there and came across this: https://github.com/apollostack/apollo-client/blob/744f

[2016-12-21 22:26] aaroncalderon opened #204 "How to run with JiT compilation? [solved]"
I am working on an application that will use GraphQL and I am using the example from  `anngular2-apollo` as a guide to put it together.

I am trying to iron out a bug wher my `data` variable does not provide the data I expect.

To troublesoot I'm trying to serve the example with JiT so I can debug it with Augury, but I cannot figureout how to disable AoT.

Can anyone point me in the right directio

[2016-12-21 22:30] manuelfink commented on #142
@conor-mac-aoidh can you give an sample how you load this service in app.module?

[2016-12-22 09:41] conor-mac-aoidh commented on #142
@manuelfink Yes, the service is loaded in the providers. The key is to specify the dependencies:

[code]

[2016-12-22 14:33] kamilkisiela commented on #204
1. Compile files with `tsc` (`typescript` package) instead of `ngc` from `@angular/compiler-cli`
1. Use `@angular/platform-browser-dynamic` with `platformBrowserDynamic`

and that's it.

[2016-12-23 16:24] aaroncalderon commented on #204
@kamilkisiela So, changing the `package.json` to use `tsc` instead of `ngc`:

[code]

Then changing `main.ts` to use `platformBrowserDynamic`

[code]

I got it. So, I gues we can close this issue.

But, now I am experiencing the same issue I have on my other project.

 I will leave it open for a few days in case anyone can share any thoughts on the below.

# Issue Background

I am trying to use th

[2016-12-23 22:10] mugash commented on #197
I get the error "Error encountered resolving symbol values statically. Calling function 'ApolloClient', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function"
when using angular  "2.3.1"  and angular cli version 1.0.0-beta.24.Can someone help please.
I have tried to upgrade angular2-apollo to the latest version but still doesn't work.

[2016-12-24 11:00] kamilkisiela commented on #197
@mugash @manuelfink for now as a workaround you can try this:

[code]

Don't know if it will work though.

[2016-12-27 14:50] #204 closed

[2016-12-30 07:52] Jufik opened #215 "Optimistic Response Not Display"
Using Angular2 - Apollo in Ionic 2 I observe a strange behaviour.
Adding a "like" feature in my app, I ended up with this piece of code:

Queries definition
[code]
Data manipulation:
Notice the  _item_ param comes from the UI,
iterating over `this.data`
[code]

The thing is `like` updates perfectly my UI, wihout the `updateQuestion` call.
When `updateQuestion`, UI is updated for a very short time,

[2016-12-30 08:40] manuelfink commented on #215
I guess you need an combination of `updateQueries` and `optimisticResponse`. optimisticResponse gives you the optimistic data, there as updateQueries tells apollo in which queries to integrate it. This works fine for me.

[code]

[2016-12-30 08:51] manuelfink commented on #215
The other thing you may like to use are cache updates. Ensure you tell apollo how to identify unique objects so that is able to update the cached objects automatically. See [controlling the store](http://dev.apollodata.com/angular2/cache-updates.html) for this.

[code]

[2016-12-30 10:26] manuelfink opened #216 "Unsubscribe ApolloObservable subscriptions on ngOnDestroy"
I think angular2-apollo is not automatically unsubscribing from queries on ngOnDestroy (React componentWillUnmount), there as react-apollo is doing this. I guess unsubscribing is an important feature to avoid fetching data which is not needed any more.

I run into problems with this, implementing an app logout. I tried to reset the apolloStore to avoid that one users should not see data from previ

[2016-12-30 10:53] Jufik commented on #215
This last part did help.
Thanks.

[2016-12-30 10:53] #215 closed

[2017-01-01 18:44] manuelfink opened #219 "ApolloQueryObservable not working with rxjs forkJoin #bug"
I have the problem that I need to resolve two data sources for a screen and can start rendering screen as soon as both are available. However Observable.forkJoin seem not to be working with Apollo. Is this a bug or am I doing anything wrong?

[code]

[2017-01-01 21:52] manuelfink commented on #219
I think this is more likely an issue with  apollo-client than angular2-apollo, thus posted in apollo-client. https://github.com/apollostack/apollo-client/issues/1109

[2017-01-01 22:07] manuelfink commented on #142
@conor-mac-aoidh I went the same way just also exposed

[2017-01-01 22:18] manuelfink commented on #197
@kamilkisiela implementing an auth guard I wrapped apollo into an own service. Not sure if this is a good idea though? Is this an good idea or any drawback through it? https://github.com/apollostack/angular2-apollo/issues/142

[2017-01-02 13:04] kamilkisiela commented on #219
It's because an `Observable` from the `watchQuery` method never completes.
The `forkJoin` operator will work with `query` method (`angular2-apollo` since v0.8.0 returns an Observable instead of a Promise).

[2017-01-02 13:05] kamilkisiela commented on #219
Also, because of that you cannot use `toPromise` operator on an `Observable` returned by `watchQuery` method.

[2017-01-02 13:08] #219 closed

[2017-01-02 13:25] #203 closed

[2017-01-02 13:30] kamilkisiela commented on #216
@manuelfink

You're right, there's no unsubscribe on ngOnDestroy. Here's why. Since `Angular2Apollo` is a service it cannot interact with your component's lifecycle automatically. In `react-apollo` they manipulate the component to assign values to properties on each Apollo's QueryObservable emission. We did the same in the decorator, but we deprecated it some time ago. BTW, this decorator will be

[2017-01-02 23:59] manuelfink commented on #219
@kamilkisiela shouldn't forkJoin work with apollo-client-rxjs https://github.com/apollostack/apollo-client/issues/430?

[code]

this seems not to be working for me?

[2017-01-03 06:41] kamilkisiela commented on #219
@manuelfink You define what the `switchMap` operator returns so how it can return `watchQuery` instead of `query`?

[2017-01-03 06:42] kamilkisiela commented on #176
@conor-mac-aoidh Any progress?

[2017-01-03 06:43] kamilkisiela commented on #183
I'll try to work on something soon

[2017-01-03 11:37] kamilkisiela commented on #197
Okay, `0.9.0-rc.1` is now available

[2017-01-03 11:37] #197 closed

[2017-01-03 11:37] kamilkisiela commented on #216
Okay, `0.9.0-rc.1` is now available

[2017-01-03 11:37] #216 closed

[2017-01-03 18:38] intellix commented on #183
I've just been playing with this. You can mock the ApolloClient to return a response that you like:

[code]

Maybe it's worth importing an entire mocked Network Interface that includes data for your whole application so you're not repeating yourself over and over. If you can re-use your schema and use graphql-tools, then even better

[2017-01-05 02:28] helfer opened #223 "Update Apollo Client dependency to 0.6"
@kamilkisiela We just updated the typings in apollo-client to use @types/graphql and released it as version 0.6. I think a new major version of angular2-apollo should be released because 0.6 will be incompatible with the current version and its grapqhl typings.

[2017-01-05 06:12] kamilkisiela commented on #223
@helfer I will test it and release as `0.9.0-rc.2` soon,

[2017-01-05 07:31] #223 closed

[2017-01-05 07:33] kamilkisiela commented on #223
@helfer Done, I will wait for Uri to release it.

I really like the communication from past two days! All the changes goes smooooth

[2017-01-12 09:38] kamilkisiela commented on #183
There is some work going on about test utils (apollostack/apollo-test-utils#1)

[2017-01-12 10:34] Uter1007 opened #237 "Typing Problem"
Hi,

I've setuped the angularclass/ng2 stack with apollo but I get the following typing errors -> could someone provide me more infos:

[code]

[2017-01-12 14:16] Uter1007 commented on #237
just saw the following link: https://github.com/apollostack/apollo-client/issues/1164

[2017-01-12 15:33] kamilkisiela commented on #237
Yes, it's a known issue. We made it by mistake, sorry for that :(

[2017-01-12 17:11] kamilkisiela commented on #237
About

[code]

It's a thing because `apollo-client` requires TypeScript 2.1. So to fix that issue you can update TypeScript in your project. And yes, Angular doesn't support it yet but I've checked and all should be okay. We still waiting for angular/angular#13294 to be released

[2017-01-12 18:02] kamilkisiela commented on #237
Also we're trying to make it compatible with TS 2.0 which is a good news!

[2017-01-13 10:01] kamilkisiela commented on #237
@Uter1007
[code]

Has been fixed with `0.9.0-rc.5`

[code]

Those will be fixed by apollostack/apollo-client#1171 soon.

So there'd no reason not to use TS 2.0.

[2017-01-14 16:46] chrishandorf opened #246 "How can ApolloModule be used to communicate with Multiple GraphQL endpoints?"
ApolloModule provides the withClient() function to define an ApolloClient and its associated single NetworkInterface (URI).  How can this module be used to talk to multiple GraphQL endpoints from a single application?

[2017-01-16 11:20] kamilkisiela commented on #237
Fixed in #243

[2017-01-16 11:20] #237 closed

[2017-01-17 13:18] beenokle opened #249 "Compatibility with Typescript 2.1.x"
Compilation with TypeScript 2.1.5 fails with the following errors:

[code]

[2017-01-18 12:09] kamilkisiela commented on #249
It's because the `apollo-client` has changed. Please update to at least `apollo-client@0.7.3` and `angular2-apollo@0.9.0-rc.5`.

Next RC is going to require [that fix](https://github.com/apollostack/apollo-client/blob/master/CHANGELOG.md#073).

[2017-01-18 12:09] #249 closed

[2017-01-20 20:46] alexthewilde commented on #55
For anyone still interested in integrating the Apollo client store with an existing Redux store, here's a working [example app](https://github.com/alexthewilde/angular-redux-apollo-example) I published.

If you inspect the store with Redux DevTools, you'll see the apollo state alongside the ng2-redux store state.

[2017-01-23 12:52] kamilkisiela commented on #246
I was thinking about introducing named clients.

[code]

Do you have a simpler idea?

[2017-01-25 11:04] kamilkisiela commented on #246
#263

[2017-01-25 11:53] crumhorn opened #264 "Some upgrade info to 0.9.0+, couldn't find any elsewhere"
I searched high and low for some info on what changed from < v0.9 and why my code wouldn't work after upgrading to the latest versions. I was half expecting one of the apollo blogs to say something but unless I missed it, there's nothing. Especially that one package changed names completely. So for those in the same boat:

Here's package.json now (you may not need -rxjs or -server)

[code]

and la

[2017-01-25 13:19] kamilkisiela commented on #264
I described my changes in [`CHANGELOG.md`](https://github.com/apollostack/apollo-angular/blob/master/CHANGELOG.md#v090). Yes, it's pretty technical, because you have to look at the code :)

We changed the name of the package but I think you can still use `angular2-apollo`, I mean it should work but it's deprecated now in favor of `apollo-angular`. And yes, we haven't mentioned about it in anywhere

[2017-01-25 13:20] kamilkisiela commented on #264
And you can replace `graphql-typings` with `@types/graphql`

[2017-01-25 13:21] chrishandorf commented on #246
This looks great.  I was thinking the same type of interface.  Nice work!

[2017-01-25 13:24] kamilkisiela commented on #246
It's going to be released with `v0.10.0`, expect it to happen in few days.

[2017-01-26 12:58] kamilkisiela opened #267 "Deprecate `angular2-apollo`"
@Urigo I think, it would be good to deprecate `angular2-apollo`, so user would see a notice about it:

[code]

[2017-01-26 13:50] kamilkisiela commented on #202
I don't think it's related to `apollo-angular` so I'm closing it but if you think differently, just @mention me :)

[2017-01-26 13:50] #202 closed

[2017-01-26 13:58] kamilkisiela commented on #176
Closing this for now

[2017-01-30 02:02] #246 closed

[2017-01-30 02:43] Urigo commented on #267
good idea. done

[2017-01-30 02:43] #267 closed

[2017-01-30 02:45] Urigo commented on #264
thank you @crumhorn !
closing as we moved on to `0.10.0` and everyone who will search for the update will end up here or in the changelog.

[2017-01-30 02:45] #264 closed

[2017-01-30 03:06] Urigo commented on #55
now also documented thanks to @alexthewilde [PR](thank for reporting, fixed [here](https://github.com/apollostack/angular2-docs/pull/30)) - http://dev.apollodata.com/angular2/redux.html

[2017-01-30 03:06] #55 closed

[2017-01-30 09:28] intellix opened #270 "@types/graphql are 0.8.x and graphql is 0.9.x"
Just leaving a note/call-to-arms that the types are out of date now and will need updating at DefinitelyTyped by somebody :)

Should be much easier to update this time around because there isn't a monolith type file anymore. I'm not sure how large the changes are though.

Changes: https://github.com/graphql/graphql-js/compare/v0.8.2...v0.9.1
Types: https://github.com/DefinitelyTyped/DefinitelyType

[2017-02-03 22:10] pixelsailor opened #272 "Make returned data extensible"
I'm running into a situation where I need another plugin (ngx-datatable) to be able to modify the data being returned from the server. Right now it's unable to do so because the data is not extensible.

[code]
It would be super helpful if this was mutable out of the box. Failing that, does anyone have a suggestion as to how to maintain the observable state of the data but allow the other plugin to

[2017-02-03 22:13] manuelfink commented on #272
Why don't you use lodash cloneDeep for this? Not sure if this is the expected way to go though?

[2017-02-03 22:15] manuelfink commented on #272
[code]

[2017-02-03 22:18] stubailo commented on #272
Yeah it can't be mutable because then we have to clone every time we return data which quickly becomes inefficient. If you want it to be mutable cloning it yourself is the right way to do it.

[2017-02-03 22:26] pixelsailor commented on #272
Thanks for the info. I had considered using lodash previously but was concerned about the performance overhead and whether it would maintain its observable state. Appears to be working though. 👍

[2017-02-03 22:43] stubailo commented on #272
Yep we wouldn't want to build that performance overhead into the core itself.

[2017-02-04 03:05] kemalcany opened #273 "Confusion with angular2-apollo package in npm"
Hi guys,

The github link on https://www.npmjs.com/package/angular2-apollo directs to this repo, but there are two different repos in npm. Is the angular2-apollo still alive? Any ideas?

Cheers

[2017-02-04 16:31] kamilkisiela commented on #272
Closing this. If you think this still need to be opened, @mention me :)

[2017-02-04 16:31] #272 closed

[2017-02-04 16:33] kamilkisiela commented on #273
Hi :)

Since [`v0.9.0`](https://github.com/apollographql/apollo-angular/blob/master/CHANGELOG.md#v090) we've changed the name of this package to `apollo-angular`, so `angular2-apollo` is now deprecated.

I think we're going to write a blog post about recent changes to make it more clear to everyone :)

[2017-02-04 16:33] #273 closed

[2017-02-06 01:58] pabx06 commented on #23
also a beginer here. used apollo-angular used some of the config file above to corect a lot 404 error.
but still having one :
![image](https://cloud.githubusercontent.com/assets/4013370/22632262/1c2b6c0a-ec18-11e6-975b-dc83e748e160.png)

[2017-02-06 02:17] Urigo commented on #23
I've created a [PR for angular.io](https://github.com/angular/angular.io/pull/3135) with live example using the Angular quickstart.
Check this out here is let me know if it helps - https://github.com/Urigo/angular.io/tree/graphql-cookbook/public/docs/_examples/heroes-graphql
It's very some configurations that are specific to the structure of the website but I believe it would still be useful.
Hope

[2017-02-06 03:06] pabx06 commented on #23
@Urigo you are my hero!
found the minimal subset of systemjs.config.json that worked for me from your files!

I am getting 404 error when apollo client requestion OPTIONS HTTP METHOD on my endpoint that work well using graphiql
![image](https://cloud.githubusercontent.com/assets/4013370/22633395/46d2b996-ec21-11e6-9451-ef588cb37c73.png)

Graphiql send POST:

![image](https://cloud.githubuserconten

[2017-02-06 05:22] stubailo commented on #23
You need to set up your web server to support CORS. That's not Apollo specific at all. If you're using express, you can use the `cors` NPM package for that.

[2017-02-10 11:09] longuniquename opened #280 "Router Resolve does not work with Apollo"
I'm trying to use `apollo.watchQuery` to resolve data in router:

[code]

But it just does not work. Apollo makes request, but navigation just does nothing. Any other observable works (like using REST).

[2017-02-10 12:15] kamilkisiela commented on #280
@longuniquename There is a different between `watchQuery` and `query` methods. Second one behaves the same as those from Angular's `Http` service.

What I mean by that?

With `query()` you fetch data, receive the result, then an Observable is being completed.
With `watchQuery()` you fetch data, receive the result and an Observable is keep opened for new emissions so it never completes.

Try to use

[2017-02-10 12:17] kamilkisiela commented on #280
@longuniquename Try it out and let me know if we can close this issue :)

[2017-02-10 12:24] longuniquename commented on #280
@kamilkisiela It worked! Thank you, for your help and for your work :)

[2017-02-10 12:24] #280 closed

[2017-02-10 12:25] kamilkisiela commented on #280
@longuniquename that's great!

Thank YOU for using Apollo!

[2017-02-15 13:03] patriknil90 opened #282 "Cache management for watchQuery"
I have a problem combining pagination, prefetching, and refetching of data. My intended behaviour in the app is that there never should be any difference in data between the server and the client. I want to reduce loading time for the user by prefetching data onmouseover in the menu and have a spinner/loading screen in every component that hides the content until the data has been fetched. If a co

[2017-02-24 15:15] longuniquename opened #283 "ApolloQueryObservable makes request on each .map()"
I have this query:
[code]

And it works fine. But when you add other mappings:

[code]

Apollo makes separate HTTP requests.
Am I doing something wrong?

Dependencies:
[code]

[2017-03-02 15:02] nilpaco opened #287 "Basic query issue 'data'"
I'm really new to Apollo and GraphQL in general. Right now I'm trying to follow the example in the Apollo documentation for the integration with Angular.

The problem comes when I get the data retrieved by the server, then I try to get the object called 'allPets', like this:
[code]

But I get this error message:
`Property 'allPets' does not exist on type '{}'.`

FYI: I solved the issue with this w

[2017-03-02 15:51] xmurcia commented on #287
Hey nilpaco!

I was dealing with a similar issue and I found in Apollo's docs the answer to our problem, check out the link below!

http://dev.apollodata.com/angular2/typescript.html

[2017-03-02 15:58] nilpaco commented on #287
It worked!

Thanks!

[2017-03-02 15:58] #287 closed

[2017-03-03 09:44] longuniquename commented on #283
It was my lack of knowledge.

I had to use `Observable.prototype.share`:

[code]

[2017-03-03 09:44] #283 closed

[2017-03-18 21:23] AnthonyCC opened #295 "Angular template not picking up the changes from the subscription"
Hi,

I am using `apollo-angular` + `subscriptions-transport-ws` in my project. I have the client setup to listen to the subscription for user's password updated or new user is created event. This is how it is setup
[code]

It seems to be working fine and does its job to notify the `userDataQuery` about the update. In the `userDataQuery`, it handles the updates this way
[code]

The userData did get

[2017-03-19 00:39] Urigo commented on #295
this is interesting and I've had that happen to me as well...
I'm investigating..

[2017-03-20 19:25] matthewerwin commented on #41
@kamilkisiela what's the status on this one? Looks like an issue was resolved on Angular-cli referenced by @Urigo and all other roadblocks out of the way -- saw that #165 review was never merged.

[2017-03-20 21:50] lukemadera opened #296 "Update / set dynamic uri"
I've got things working with a hardcoded url endpoint, but I can't figure out how to set the uri after bootstrapping. I tried

[code]

but that does not seem to work.

How do I set / change the uri?

My use case:
I have a helper repository that wraps apollo for graphql, and the main repo has the url. The main repo sets the urls, and at that point, I need to set the graphql url (I don't know it ahe

[2017-03-24 23:27] lukemadera commented on #296
@kamilkisiela How would I set the uri dynamically?

[2017-03-25 11:22] kamilkisiela commented on #296
@lukemadera You can create your own `networkInterface`. The `createNetworkInterface` function is just to provide the default network interface class (`HTTPFetchNetworkInterface`) in a short, simply way. You don't have to stick with it.

Take a look at [this code](https://github.com/apollographql/apollo-client/blob/master/src/transport/networkInterface.ts).

[code]

[2017-03-26 20:56] samuelhorwitz opened #298 "Angular 4 and ApolloModule.forRoot() result not being seen as correctly annotated as an NgModule"
I am in the process of migrating my App over to Angular 4 as well as upgrading Apollo from the Angular2Apollo days, and I am almost complete in my progress except for the fact that Angular seems to now choke on the Apollo importation. I get the following error:

`Error: Unexpected value '[object Object]' imported by the module 'AppModule'. Please add a @NgModule annotation.`

I am using the follow

[2017-03-26 21:38] samuelhorwitz commented on #298
Alright, quick update... this is definitely somehow tied to server-side rendering. When I bypass SSR, everything seems to work.

[2017-03-28 11:20] kamilkisiela commented on #295
Should be fixed by #297

[2017-03-28 18:25] lukemadera commented on #296
Thanks for the reply @kamilkisiela Things seem quite nested and complicated to get it working as I'd want - even if I did re-write a new network interface, the module instantiation looks like:
[code]

It seems to need to be set ahead of time. While the
[code]
can be a good way to set a header to be sent on ALL requests, there's not an easy way to customize PER request. And that's what we need. Jus

[2017-03-28 18:46] AnthonyCC commented on #295
I pulled the latest but unfortunately it didn't completely fix the issue. It did however update the UI sometimes. I noticed that the UI will reflect the changes when you made the changes 2x times, ie, the UI will be updated when you made changes on the 2nd, 4th, 6th ... times

[2017-03-29 22:33] Urigo commented on #295
I've published the package a bit later, @AnthonyCC can you test again with `0.13.0` just to make sure?

[2017-03-30 00:36] hansol-shin commented on #295
I have same problem with 0.13.0.

[2017-03-30 22:38] AnthonyCC commented on #295
Sure, I tested w/ `0.13.0` and had the same result.

[2017-03-31 20:02] sarora2073 opened #301 "ApolloQueryObservable compatibility with Rx.Observable"
Hi,

I'm using the latest version 0.13.0, and am seeing issues when using the .map operator on an  ApolloQueryObservable, as doing so appears to return an Rx.Observable instead (which I guess is to be expected, however...), the extension methods of  ApolloQueryObservable (such as refetch) no longer *appear* to be available according to typescript. Even though the extension methods actually appear

[2017-03-31 20:07] kylecordes commented on #301
I'm not convinced the extra methods on ApolloQueryObservable are a good idea at all. I suspect things would be much better overall if:

* We got back just a plain old Observable.
* Some other means was provided to perform Apollo specific feature.

[2017-03-31 20:08] sarora2073 commented on #301
Thanks. Is there a way to do a refetch on a plain Observable? I went down that path for a bit but didn't see find a similar method.

[2017-03-31 20:10] kylecordes commented on #301
@sarora2073 No, there is not - and there should be. Observable is a very generic interface. Things like requerying are implemented idiomatically with various Observable operators. (Relevant here - .retry, .switchMap, some others). I don't have an example handy, unfortunately.

[2017-03-31 20:13] sarora2073 commented on #301
I'll look into those. Thanks again!

[2017-04-01 20:18] sarora2073 commented on #301
update: was able to get past the conundrum. i was unnecessarily relying on the refetch operation to refresh my UI after each mutation. Now after each mutation I simply re-run the getItems() method in the subscribe operation, which in turn fetches the latest data. Since I bind the observable (called itemsObs) directly to my template and pipe to 'async', the UI updates immediately after each mutatio

[2017-04-01 20:18] #301 closed

[2017-04-01 20:24] kylecordes commented on #301
@sarora2073 It seems to me that, if `watchQuery` does it job correctly, you would not need to re-run `getItems()`, rather you would receive the data automatically.

[2017-04-01 20:44] sarora2073 commented on #301
Are you saying it should push data from the server-side? If so, that would make me think watchQuery is perhaps not working right, or else perhaps I just need to know more about what links mutations and  associated server push events i.e. is the disconnect explainable somehow?

Please note: Til now I was thinking of all this mainly from a client-side...and how to get angular to know that there's be

[2017-04-01 21:04] kylecordes commented on #301
As I understand the rough idea is:

* In theory the data could be all observable, end to end (server/client/etc). With the watchQuery API. But:
* So far, the docs/code at least discuss the notion of watchQuery picking up changes in the client-side cache.
* I don't see any docs/etc which indicate end-to-end observability is up and running yet; the docs about subscriptions are about an old-fashioned

[2017-04-09 05:44] Purus opened #302 "Errors while handing promises"
I have the below function is a service provider. I want to keep the back-end and UI part separate and so I use providers to fetch all data.

    getUserById(id: number) {

    return new Promise((resolve, reject) => {
      this.apollo.query({
        query: UserByIdQueryText,
        variables: {
          id: id
        }
      }).subscribe((res: any) => {

        let ans = res.data.user;

[2017-04-10 00:39] Anthonyzou opened #303 "Observables not workng for nested variable object"
Hi there. I was trying to follow the apollo-angular docs for [observable variables](http://dev.apollodata.com/angular2/queries.html#observable-variables)

I have come up with some code like this.

[code]
In the networks tab I am expecting the like attribute to be a string like so:

![screenshot from 2017-04-09 18-35-52](https://cloud.githubusercontent.com/assets/1567160/24842344/990881ba-1d53-11e7

[2017-04-10 10:06] kamilkisiela commented on #303
It's true, they don't but you can change it if you want :)

I could help you!

[2017-04-10 10:08] kamilkisiela commented on #303
That feature, is a part of `apollo-client-rxjs`.

https://github.com/kamilkisiela/apollo-client-rxjs/blob/master/src/utils/variables.ts

[2017-04-10 17:01] Anthonyzou commented on #303
Oh I see. Yeah I will look into that library and see if I can provide a fix.

[2017-04-10 17:01] #303 closed

[2017-04-11 04:39] tkhemani opened #305 "Incompatible Types Error"
ERROR in app.component.ts (37,53): Argument of type '{ query: DocumentNode; va
riables: { name: Subject<string>; }; }' is not assignable to parameter of type 'WatchQueryOptions'.
[1]   Types of property 'query' are incompatible.
[1]     Type 'DocumentNode' is not assignable to type 'DocumentNode'. Two different types with this name exist, but they are unrelated

[2017-04-11 10:47] kamilkisiela commented on #305
Maybe there's a version mismatch and you have two declarations of types?

[2017-04-11 10:54] kamilkisiela commented on #295
@AnthonyCC If the UI changes only after another update happens it means that the first update happens but it's not visible to Angular's change detection. This is why I created `ZoneScheduler`, to put it inside the Zone queue. Could you somehow create a minimal reproduction? It will be veeeeeryyy helpful. All my examples work so I have no clue how it's still a thing.

[2017-04-11 14:58] tkhemani commented on #305
I get this error on running "npm run client" for the example app in this repo. I've changed the local ref of "apollo-angular" to this in package.json: "apollo-angular": "^0.13.0",
Also tried updating graphQL: "graphql": "~0.9.2"
No Luck.

[2017-04-11 15:12] tkhemani commented on #305
Changed: `import { DocumentNode } from 'graphql';`
To: `import { DocumentNode } from 'apollo-client/node_modules/@types/graphql';`

Works now!

[2017-04-11 15:12] #305 closed

[2017-04-12 07:42] jeremyputeaux commented on #295
@kamilkisiela I'm experimenting the same thing with `0.13.0`. I made a post on [stackoverflow](http://stackoverflow.com/questions/43103461/whats-wrong-with-this-subscription-i-get-updates-but-the-view-is-not-refreshed). I hope it helps.

[2017-04-13 10:52] Ramzeus opened #306 "Question about two way binding and gql-response being read donly"
I have just started using Angular(2) and GraphQL with Apollo.
One of the first thing I had problems with was that suddenly two way binding stopped working.
When I received GraphQL data in my component and tried to change it with a form nothing happened. When I tried to change the data "manually" by setting it with a script I got an exception telling me that I was trying to modify a read only prope

[2017-04-16 06:35] nlko opened #308 "Using watchQuery with rxjs : watchQuery(...).map is not a function"
Hello,

I'm using
[code]

I tried to follow what says the book for rxjs : http://dev.apollodata.com/angular2/queries.html#rxjs

[code]

Unfortunately, when I'm doing something similar I end up with the following error :
`EXCEPTION: this.apollo.watchQuery(...).map is not a function`

I think I manage to make it work by creating an observable from the watchQuery result.
If it was in the documentatio

[2017-04-16 13:56] mariohmol commented on #298
Hi.. I guess is the same as i have.. https://github.com/AngularClass/angular2-webpack-starter/issues/1067#issuecomment-294352968

[2017-04-17 10:00] mcorcuera commented on #102
To fix the issue related with `process variable is not defined` without modifying the redux code, you can also add this in your entry file, before any import:

[code]

[2017-04-17 10:23] iguissouma commented on #102
@mcorcuera You are right, "process" doesn't exist as part of NativeScript.
You can pollyfill it by adding to your our main.ts `global.process =  {env: {}};`
and that will make process and its env work globally in the app as a empty variable.

I mentioned that on this [blog post](https://medium.com/@iguissouma/using-graphql-inside-an-angular-native-nativescript-app-using-apollo-756a344cd486), the b

[2017-04-17 16:21] AnthonyCC commented on #295
@kamilkisiela , this is the demo app I used atm. https://github.com/AnthonyCC/graphQL-Demo. Currently it is setup to use Mongo db to get/save data. If you have problem setting it up, I can make it simpler sometimes this week. just let me know. Thanks for checking the issue. :)

[2017-04-19 12:40] dudanogueira commented on #102
Hi! I am trying to use apollo with nativescript, but can't even start... I am new to nativescript AND relatively new to angular AND definitely to apollo/graphql, so pardon my ignorance here ;)

I noticed that, after installing the apollo libs:
`npm install apollo-client apollo-angular graphql-tag --save`

I can't run tns run android anymore. If I remove, everything is back to "normal".

This is th

[2017-04-19 12:59] Ramzeus commented on #176
I seem to have the same problem

[2017-04-19 15:12] kamilkisiela commented on #295
@AnthonyCC I will try to check your app but for now I created an example app with graph.cool as a backend.

I used:
[code]

Here's my working app:
https://github.com/kamilkisiela/angular-graphql-subcriptions

[2017-04-19 19:21] iguissouma commented on #102
@dudanogueira Make sure your tsconfig.json is configured with the folowing options“noEmitHelpers”: false, and “noEmitOnError”: false

[code]

[2017-04-20 10:51] dudanogueira commented on #102
@iguissouma , yes! that did the trick.

also, is good to state that global.process = {env: {}}; must come on the top of the main.ts and main.aot.ts

I lost some time on this one.

Now I am enjoying the Apollo lib. Just lost some time figuring out the whole fetch policy. Let's see how it gets :)

[2017-04-23 19:14] cyberbeast commented on #295
I am using the apollo-server package with express, and my view is not getting updated after the subscription changes are detected. Is this a problem with the apollo-angular package? Also there isn't any documentation about subscription in the apollo-angular docs? Is this intentional?

[2017-04-24 13:51] kamilkisiela commented on #295
I tried to reproduce it within a test - here it is #312

[2017-04-24 21:11] KeithGillette commented on #203
Is `ApolloClient.resetStore()` indeed supported in Apollo-Angular?

I don't see the method defined in the `Apollo.d.ts` TypeScript and when I attempt to call `Apollo.resetStore()` from Apollo-Angular 0.13.0 I get `Apollo.resetStore is not a function`.

[2017-04-24 22:09] kamilkisiela commented on #203
@KeithGillette

[code]

[2017-04-28 20:49] EXPEylazzari commented on #306
I have the exact same problem using Vue's [Apollo integration](https://github.com/Akryum/vue-apollo). Only simple examples are provided and they don't deal with two-way binding. I'm curious about best practices around this.

[2017-05-05 10:21] Dunos commented on #203
@kamilkisiela I'm trying that code but it get `Property 'getClient' does not exist on type 'typeof Apollo',` where should I import Apollo from, right now Im doing `
import { Apollo } from "apollo-angular";`

[2017-05-05 10:59] KeithGillette commented on #203
The following works for me:
``
import { Apollo } from 'apollo-angular';
Apollo.getClient().resetStore();
[code]

[2017-05-05 11:18] Dunos commented on #203
Which version of apollo-angular are you using @KeithGillette ? That code doesn't work for me, I'm on 0.13.0

[2017-05-05 11:38] KeithGillette commented on #203
I am using:
[code]

Thought I don't think it's relevant to this issue, I also reference custom [Apollo GraphQL Meteor Integration Typings](https://github.com/KeithGillette/Apollo-GraphQL-Meteor-Integration-Typings) in my project's `typings.d.ts`.

[2017-05-05 12:33] Dunos commented on #203
I have those versions too but for some reason I still get the error `Property 'getClient' does not exist on type 'typeof Apollo'`

[2017-05-14 19:56] samuelhorwitz commented on #298
Hey so this is just yet another issue regarding the fragile ecosystem of web dev. Angular 4 pulled Angular Universal (which was always sort of beta) into it's main codebase and the documentation is still very sparse. There appears to be a bug where the decorators used for server-side rendering are just different and this causes the server-side renderer to choke when it sees third party libraries u

[2017-05-17 15:06] Dunos opened #313 "The mutationResult parameter from updateQueries should be type ANY"
If you try to use the code provided in the documentation ([updateQueries](http://dev.apollodata.com/angular2/cache-updates.html#updateQueries)), the compiler gives you errors because **mutationResult** has defined a type Object so you can't do something like `mutationResult.data.submitComment` (data is not defined in type Object).

Example of the code that fails:

[code]

This only happens when us

[2017-05-22 08:14] j3ddesign opened #314 "Query returning {data: undefined}"
I'm using apollo-angular for a fairly large project right now and it's been working beautifully. However today I built a new query, tested it in graphiql, everything was fine, however when I then ran it in my app I get `{data: undefined, loading: false, networkStatus: 7, stale: true}` thrown back at me.

The extra confusing part here is: Chrome network tab and Apollo tab both show that the query w

[2017-05-22 10:37] j3ddesign commented on #314
Found this issue https://github.com/apollographql/apollo-client/issues/1363 so seems that I need to update apollo and look through the fix involved there.

[2017-05-22 10:37] #314 closed

[2017-05-22 15:18] Dunos commented on #142
@manuelfink @conor-mac-aoidh  do you have an updated version of your code with the latest version? Since you both posted your solutions they don't work now (and I can't find any clear documentation on how to handle the errors anywhere)

[2017-05-22 16:30] manuelfink commented on #142
I have not yet migrated to latest version since I have to adopt breaking changes. Posts welcome ;-)

[2017-05-25 16:13] Dunos commented on #296
Any update on this issue? I am interested in that kind of functionality too.

[2017-05-26 15:42] Dunos commented on #142
@manuelfink I already made the changes to my ApolloService extending from Apollo, and the main changes are the following...

[code]

Notice that now you have to use a ClientMap var in the super contructor, that's the key to make all work again, and use **ApolloModule.forRoot** instead of old _withClient_.

[2017-05-29 20:38] viktorvillalobos commented on #296
Me too, i need to change the uri dynamically.

[2017-06-02 16:00] Dunos commented on #296
For what I've tested with a custom service extending from Apollo/ApolloBase, if they remove the private property for the "client" variable, this could be achived (not saying is the best solution, but it works at least). I tried it editing myself the Apollo.d.ts file and got it working...

[2017-06-04 04:26] BhaskaranR opened #315 "Unknown argument "userId" on field "feeds" of type "RootQuery"."
I am getting this  error **sporadically** with my angular apollo client. I did verify the userId and it is passed in correctly. i copied the same query with graphiql and it works every time.
when i get this error the request doesn't even make it to the  server, so i guess this something wrong with the angular UI. Moreover i am using apollo with ngrx.  Appreciate any help

[code]
Please click this

[2017-06-04 15:29] BhaskaranR commented on #315
found the issue. it is my bad. i was running another instance with the old source and was load balancing the instances with rabbitmq. some requests are sent to the this other instance.

[2017-06-04 15:29] #315 closed

[2017-06-05 09:51] Dunos commented on #296
@kamilkisiela do you think they will allow a petition to change the Apollo.d.ts definition?

Currently is like this:

[code]

But if they change it to this, we could access the client and change the uri...
[code]

[2017-06-08 09:18] altschuler opened #317 "refetchQueries ignores queries not currently active"
I have a list page of Foos. In there I have a watched query `FooList`. Now I go to the detail page of a Foo. I no longer have a `FooList` watched (it's not the in dev tools). I then delete the Foo from the detail page and redirect back to the list page. I am using `refetchQueries` to refetch the list of Foos in the list page, but it's using a cached version with the just deleted Foo still there.

[2017-06-08 17:29] stubailo commented on #317
Instead of refetching on component mount you can simply pass the "forceFetch" option to watchQuery!

Anyway, this is currently the intended behavior since we don't want to keep track of every query ever done. But you can also pass the query and variables into refetchQueries to refetch stuff that isn't currently active.

[2017-06-09 08:01] altschuler commented on #317
@stubailo Oh, great! I'm guessing `fetchPolicy: 'network-only'` is the new `forceFetch`? It makes sense that the behavior I'm seeing is the default, it's just really confusing to have a lot of different queries running and some of them "randomly" showing outdated data.

[2017-06-09 17:51] bclynch opened #318 "Standard For Multiple Mutations"
I was hoping someone could explain the standard way to execute multiple mutations with apollo in a single http call on the front end.

My use case is I am inserting multiple (n) product rows into a join table for an order at a time. Within the Graphiql playground I am aware of using aliases to use multiple of the same mutation as shown below, but I was wondering how to use have a dynamic amount wi

[2017-06-12 19:42] brow1726 commented on #298
I was getting this issue and I found that using nodeExternals webpack plugin works for the '[object, object]' issue. I have it in my webpack.server.js.

externals: [nodeExternal({
        whitelist: [
            /ANY_NODE_MODULE/,
            /ANOTHER_NODE_MODULE/
        ]
    })]

[2017-06-13 14:41] eitanfr commented on #308
try adding import `rxjs/add/operator/map;`

[2017-06-13 15:12] tomermoshe commented on #318
You can use batching in order to execute multiple mutation and query in a single request.
All you need you need to do is:
[code]
This will batch your queries and mutations together. You will also get a single response that will be automatically unpack by the network interface.

For more reading: http://dev.apollodata.com/core/network.html#query-batching

[2017-06-13 15:18] eitanfr commented on #313
hi,
seems as Apollo client issue (MutationOptions type defined in apollo-client), can you please reopen the issue there. should change to `any` or may be add generics .  @stubailo
meanwhile, you can to something like:
[code]

[2017-06-13 17:16] nlko commented on #308
Thanks!

[2017-06-13 17:16] #308 closed

[2017-06-14 08:24] eitanfr commented on #302
hi,
1. keep the UI and the business logic is great, but you dont need to wrap apollo query with a promise, apollo.query() returns a rx observer that resolves when that data arrives like a promise.
2. not sure what is your problem , it seems that you trying to access to a value that hasnt yet resolved. you need to access the data only when it is exist, there is a few things you can do , like` `asyn

[2017-06-19 12:54] joannabochynska commented on #317
It seems that I have the same problem when it comes to deleting items and than coming back to list view, the deleted item is still displayed. I tried to use `fetchPolicy: 'network-only` but it doesn't seem to be working. Can it be used with watchQuery, not only with query?

[2017-06-19 18:27] altschuler commented on #317
@joannabochynska I'm using it with `watchQuery`. Are you sure you're actually invoking the query again? Closing the issue since it's "solved".

[2017-06-19 18:27] #317 closed

[2017-06-19 22:30] carlospalacin commented on #296
Hi! I leave my solution, I have created apollo-client-amanger.ts:
[code]
and apollo-service.ts:
[code]
and graphql.module.ts:

[code]
you can create your apollo instance with service:
[code]

don't forget import graphql.module.ts in your module
This works fine for me

[2017-06-20 10:27] tomermoshe commented on #306
If you need to keep a single reference to your binded data you can do something like this:
[code]

[2017-06-20 10:49] eitanfr commented on #282
Check out `fetchPolicy`. you can pass it to the options in watchQuery, it has the following values: "cache-first" | "cache-and-network" | "network-only" | "cache-only".

[2017-06-20 10:53] tomermoshe commented on #318
If you have any more questions, feel free to open a new issue.

[2017-06-20 10:53] #318 closed

[2017-06-20 11:02] tomermoshe commented on #306
If you have any more question, feel free to open a new issue.

[2017-06-20 11:02] #306 closed

[2017-06-20 11:03] #313 closed

[2017-06-20 11:03] #302 closed

[2017-06-20 11:04] eitanfr commented on #302
If you have any more problems or questions feel free to reopen the issue

[2017-06-20 16:30] bclynch commented on #318
Hey thanks for the response @tomermoshe . Finally got around to trying to implement and it looks like query batching is not supported by the server I'm using (Postgraphql). Appreciate the input though!

[2017-06-22 19:57] lyxhaven commented on #302
Hi,

I have run into the similar behavior.

It's not seeing the "data" object under Resolve as a Promise, but rather simply a returned value. As a result to this, the controller and template will be initiated without knowing what "data" is and throw the same error as above.

[2017-06-23 08:17] ribizli opened #320 "Subscriptions are not executed in NgZone"
If a subscription event comes, the store is updated, the observable emits, but no change detection is running in angular. (I need to interact with a component to get the view being updated)

[code]

[2017-06-23 08:30] ribizli commented on #320
My current workaround for this is to delay the emission into the next event loop (???):
[code]

[2017-06-23 14:24] davideberlein opened #321 "require(...*.graphql) doesn't work in angular cli generated project"
Hey,

I am trying to apply your tutproial with a project that I created using the angular cli.
Most of it is fine but I have 2 problems.
Here is nr. 1 I will add nr. 2 in a second issue.

[code]
does not work for me, the TS compiler says:

 Not sure what the problem here is, I added the `@types/node` to the tsconfig.

[2017-06-23 14:28] davideberlein opened #322 "ApolloQueryObservable.map does not exist"
When creating a new project with the angular cli and importing ApolloQueryObservable. The map function is somehow not available:
[code]

The TS compiler says:

My dependcies:
[code]

[2017-06-24 08:13] dotansimha commented on #322
Duplicate of: https://github.com/apollographql/apollo-angular/issues/308

[2017-06-25 07:08] eitanfr commented on #321
hi,
seems you don't have require typings. try installing `@types/node`.
anyway, I am working with angular CLI project and I haven't encountered any problem.

[2017-06-26 06:46] davideberlein commented on #321
@eitanfr I had already added `@types/node` to the package.json. Do I need to import the "require" somewhere else?

[2017-06-26 07:14] #322 closed

[2017-06-26 07:23] eitanfr commented on #321
Maybe you have a wrong tsconfig settings ,
Try adding `"types": ["node"]` to the `compilerOptions` in the tsconfig.app.json

[2017-06-26 07:31] davideberlein commented on #321
@eitanfr thanks, that solved the issue.

[2017-06-26 07:31] #321 closed

[2017-06-26 08:52] eitanfr commented on #320
`apollo.subsribe` is wraped with zone current zone , so change detection should be invoked.
can you show the components code? do you use ON_PUSH?

[2017-06-26 09:20] eitanfr commented on #270
was updated to 0.9

[2017-06-26 09:20] #270 closed

[2017-06-26 09:27] ribizli commented on #320
No ON_PUSH at all. My other comp uses watchQuery with async. I expect it's view to get updated automatically but it won't.
More code sample I can provide later on...

[2017-06-26 09:59] #183 closed

[2017-06-26 10:25] Urigo commented on #322
@eitanfr might be worth adding an explicit sentence to add it in the docs as this is the second time people are confused with it

[2017-06-26 10:44] davideberlein commented on #322
The solution of the duplicate worked for me, however adding additional methods to an already imported type via an extra import is rather unusual (for me as TypeScript newbe at least) so a hint in the doc would have helped.

[2017-06-26 10:49] Urigo commented on #322
@davideberlein care to try making a PR to the doc?  always the best PRs are from the ones who actually got confused by it

[2017-06-26 11:20] davideberlein commented on #322
@Urigo if you point me to the right `md` file I'll do that

[2017-06-26 11:23] Urigo commented on #322
@davideberlein sure!  https://github.com/apollographql/angular-docs/blob/master/source/queries.md#using-with-rxjs
(also on each of our doc pages there is a "Edit on Github" button at the bottom)

[2017-06-26 11:59] davideberlein commented on #322
done see https://github.com/apollographql/angular-docs/pull/59

[2017-06-27 09:37] Vi-dot opened #324 "Observables from 2 different requests are connected"
Hello,

I have two different requests, they have nothing to do together.
But their Observables are connected for no reason.

A first one is called (after a route applied) :
[code]
Console
[code]
-----------------------------------------------
Then a second one is called (when clicking on a button) :
[code]
Console
[code]

Why `getReq` is called there ?
Thanks

[2017-06-27 11:05] kamilkisiela commented on #324
@Vi-dot Does the result of the first one stays the same?
I think that store updates itself because of the mutation and then in result the watched query fires again.

In ApolloClient you have an option that specifies the way of getting an ID from an object, it's called `dataIdFromObject`. By default it checks if the result contains a `__typename` and one of these: `id` or `_id`. Thanks to that the

[2017-06-27 11:08] eitanfr commented on #324
from the doc:

I am guessing that you mutate the same data you are querying  that why you see updateReq and then getReq

[2017-06-27 12:32] Vi-dot commented on #324
Thanks you both, you're right I mutate an element which is a part of `getReq`results, with the same `__typename` and `id`.
I understand how this feature can be useful, but in my case, I prefer to call getReq only when I decided. An option may do that ?

[2017-06-27 12:36] Vi-dot commented on #324
I found it ! What I need was _prefetching data_
replace `watchQuery` by `query`
Thanks for your work
Solved

[2017-06-27 14:18] kadosh1000 commented on #142
It works great for me. Only got one question, is there a way to prevent the error from being logged to the console? I have removed all the `console.log` and yet it is still being printed:

![image](https://user-images.githubusercontent.com/2615945/27592195-8e686760-5b5c-11e7-8cef-f9525bf3d870.png)

[2017-06-28 13:46] patriknil90 commented on #282
Thank you @eitanfr , have done some testing with "network-only" fetchPolicy and it seems to do the trick in this case!

[2017-06-28 13:46] #282 closed

[2017-06-28 20:33] lukemadera opened #325 "Are unions supported with Angular2 Apollo?"
There is no mention of it in the docs for Angular but it is there for the React docs. When I try to use a union in Angular the data comes back undefined.

[2017-06-28 22:33] lukemadera commented on #325
It DOES work it seems, but it's not documented for the Angular docs. You have to set an `IntrospectionFragmentMatcher` - https://github.com/apollographql/apollo-client/blob/94d8d200d727337f265a10472723b0af0fd59d7e/test/client.ts#L1113

[2017-06-28 22:34] #325 closed

[2017-06-30 13:54] Draccoz opened #326 "Cache updates"
Is there any way to update a cache reliably? I know there is the `update` method, but so far in the tutorials and examples I've seen only updating whole "global" lists (like list of ALL ToDos etc.). What about the case, where I have a `Client` type and each client has its very own `ToDo`s (relational data from MySQL)? How to update `ToDo`s of specific `Client` once it's added? This is pretty trivi

[2017-07-08 07:42] razzaghi opened #327 "error on angular 4.2.5"
apollo-angular/node_modules/apollo-client-rxjs/build/src/RxObservableQuery.d.ts (7,22): Class 'RxObservableQuery<T>' incorrectly extends base class 'Observable<ApolloQueryResult<T>>'.
  Types of property 'lift' are incompatible.
    Type '<R>(operator: Operator<ApolloQueryResult<T>, ApolloQueryResult<R>>) => Observable<ApolloQueryResu...' is not assignable to type '<R>(operator: Operator<ApolloQue

[2017-07-12 13:44] beagleknight commented on #327
I managed to fix some of this errors like this:

Instead of this:

[code]

I used:

[code]

[2017-07-12 14:03] beagleknight commented on #327
@razzaghi My CI build the project successfully so I suspected it was related to the dependencies cache. I performed a cleanup of my node_modules (`rm -rf node_modules && yarn cache clean && yarn`) and it works as expected.

[2017-07-12 14:04] chris08002 commented on #202
@manuelfink Have you found any solution for this? If I run a query with empty variables in the chrome apollo developer tools, it seems the work (not always...) but if I do the same query via angular, it doesn't.

`query allVisits($customerId: ID) {
          allVisits(
            filter: {
              customer: {
                id: $customerId
              }
            }
          ) {

[2017-07-13 09:11] lagmanzaza opened #328 "error cannot resolve AppModule (first time)"
![888](https://user-images.githubusercontent.com/5283709/28159065-edcd6f44-67e5-11e7-8322-5432d78092a2.PNG)

[2017-07-13 10:33] beagleknight commented on #327
I still have the same problem :(. I updated yarn and I start getting the same error again:

[code]

[2017-07-13 11:07] beagleknight commented on #327
@razzagui The problem is being adressed here https://github.com/kamilkisiela/apollo-client-rxjs/pull/44

[2017-07-13 23:30] tariknz commented on #296
@carlospalacin this looks like it creates a new instance of the client on every request.

I think I found a more efficient way of doing this when I was looking at this ticket: https://github.com/apollographql/apollo-client/issues/1267

NetworkInterface is referenced so you can just extend it and update it in your application.

Basically you create a new class that extends HTTPFetchNetworkInterface

[2017-07-14 09:17] carlospalacin commented on #296
Hi @tariknz your solution looks great!
my code don't instance apollo client each request, in apollo-service.ts check if is instance the client, and by to be a service singletone, if is created, return always the same instance, but your code looks better that mine

[2017-07-16 18:28] kadosh1000 opened #329 "Cannot edit response object - Object frozen"
Hi, I have the following code:
      const GetChatsQuery = gql `
        query($withBlocked: Boolean) {
            userChats(withBlocked: $withBlocked) {
                ${ GetChatGraphQL(10) }
            }
        }`;

        ` return this.apollo.query({
            query: GetChatsQuery,
            variables: {
                withBlocked: withBlocked
            }
        }).map(res => {

[2017-07-17 15:21] gotenxds opened #330 "Using a different store(angular-redux) does not work correctly"
Hi, I'm following the guide [here](http://dev.apollodata.com/angular2/redux.html) and the repo [here](https://github.com/alexthewilde/angular-redux-apollo-example)

This does not seem to work anymore in the newest version of apollo angular and angular-redux for 2 reasons:

1. (Looks like a angular-redux error)
The `reduxRootSelector` of apollo need to be set to this `state => state.computedStates[

[2017-07-19 08:41] niceilm commented on #329
In my case to use copy object
[code]

[2017-07-19 19:14] sarora2073 opened #331 "difficult to use RxJs operators like .map against watchQuery data; data not a stream"
Hi,

This report is related to #48 ("Can't call rxjs observable operators on object returned by watchQuery") which has been addressed in some manner in the past. I believe there may be a common scenario which is unnecessarily difficult to handle.

Detailed explanation with example:

When doing a normal watchQuery the shape of the result contains an array of objects (rows in a table or documents in

[2017-07-20 08:42] lagmanzaza opened #332 "I use Angular 4 then i cannot use map() with watchQuery()"

[2017-07-20 08:45] agborkowski commented on #332
waaat ?
[code]

[2017-07-20 08:48] agborkowski commented on #331
.map(({ data }) => data.getContacts)
->>.take(1)<-- ??
      .subscribe((res) => {

[2017-07-20 09:15] lagmanzaza commented on #332
I fixed it thank you very much

[2017-07-20 09:15] #332 closed

[2017-07-20 09:16] intellix commented on #329
Aye, you can use object destructuring, but be aware that its only a shallow copy and other objects will maintain the same frozen reference since Apollo deeply freezes objects. Similar q: https://github.com/apollographql/apollo-client/issues/1909

[2017-07-20 20:11] sarora2073 commented on #331
Hi,

Thanks for responding, but not sure if you understood fully...I want avoid concerns of handling arrays / index-based operators etc. and consume the entire data set (not a subset) *as a stream* instead of single object array collection, and transform it object-by-object using rxjs / functional reactive approach, without having to create a new Observable or for example having to use another too

[2017-07-23 22:25] j3ddesign commented on #331
Hi, one way my team has gotten around this for now is similar to the following (forgive rough code, typing from memory)

[code]

This seems to do the job for now, though it would be nice to have a cleaner way of handling data returns, I agree

[2017-07-25 19:20] sarora2073 opened #333 "watchQuery fails to run when variables parameter is an empty object"
Hi,

I tried profiling network requests in chrome to debug this issue where a watchQuery wasn't even executing as expected, and what it appeared to boil down to was that the query wouldn't execute if the variables parameter was an empty object i.e. {}. I would expect it to at least execute.

Below is a copy of the code. I tried the line that starts with "let obj =" 3 ways to confirm what's going o

[2017-07-26 05:09] sarora2073 commented on #331
@j3ddesign  - THANK YOU!

using switchMap solved the problem and allowed me to get back to functional reactive code semantics. :-)

[2017-07-26 05:09] #331 closed

[2017-07-26 07:16] lagmanzaza opened #334 "watchQuery fails to run when variables parameters it has values"
![777](https://user-images.githubusercontent.com/5283709/28609003-011edf0c-720d-11e7-9e53-c4ecd31350e8.PNG)

[2017-07-27 18:56] Anthonyzou opened #335 "Allow custom imports when creating client map"
It would be great if we could import other modules when making our apollo clients.
This way we can have apollo clients that import app specific modules or the Angular Httpmodule for example.

[code]

Edit:

Actually I ended up hacking up my own provider function
[code]

[code]

[2017-07-28 19:34] #334 closed

[2017-07-30 06:12] lagmanzaza opened #336 "how to setup subscription to angular 4?"

[2017-07-30 09:48] Ibrahim9595 opened #337 "store data is inconsistent with the backend results"
the query results I get from the backend is
[code]

but the data in the frontend is
[code]

I noticed that the first element in permissions array is copied in all other elements how to fix this?

[2017-07-31 12:54] kamilkisiela commented on #337
diff: https://www.diffchecker.com/vXoxPWVq

[2017-07-31 12:55] kamilkisiela commented on #336
Could you explain?

[2017-07-31 13:36] lagmanzaza commented on #336
can you example app for me

[2017-08-01 00:22] Ibrahim9595 commented on #337
@kamilkisiela I didn't get your comment

[2017-08-02 07:31] lagmanzaza commented on #336
I don't know  how to setup subscription and use with watchQuery()

thank you very much

[2017-08-03 08:25] mitul69 commented on #328
I have same issue can you please help me.

[2017-08-03 08:48] lagmanzaza commented on #328
I'm not sure how to fix it but I  rewrite my project use it's work

[2017-08-03 08:49] mitul69 commented on #328
Ohh so you have installed all again?

[2017-08-03 08:50] lagmanzaza commented on #328
yes sir

[2017-08-03 08:52] lagmanzaza commented on #328
I'm so sorry that I cannot show my code because they uses in my company

[2017-08-03 09:04] mitul69 commented on #328
It's ok not an issue i am switching some where else.

[2017-08-03 09:23] lagmanzaza commented on #328
I think it's a bug in this example when I create a new project then use angular-apollo by the guide in dev.apollo its work
You should follow the guide first.
I am willing to teach you.
you can ask me by Facebook  FB/lagman2600th directly
thank you very much.

I'm bad in English

[2017-08-03 15:17] kadosh1000 opened #338 "Error handling"
Hi, I have a small issue using apollo-angular.
Whenever an error is returned from the server it automatically being printed to the console:

![image](https://user-images.githubusercontent.com/2615945/28929120-e89db93c-7877-11e7-86cc-be313a058c8e.png)

It also happens when I catch the error using the observable subscribe,
is there any way to prevent to error from being printed to the console?

[2017-08-03 18:21] jjenzz commented on #180
I have just raised a similar issue here https://github.com/apollographql/angular-docs/issues/64

Unfortunately, switching the `users$` type to `Observable<any>` does not fix the issue for me. Does anyone have a working solution for this?

[2017-08-04 19:39] Ibrahim9595 opened #339 "Middleware isn't working"
I'm trying to use the middleware to set the authorization token but it isn't working
here is the app.module code
[code]

[2017-08-05 14:33] #339 closed

[2017-08-06 01:03] Uter1007 opened #340 "Problem with AOT"
I get an typing error with missing ClientMap when I am compiling via AOT (since I updated from angular2-apollo to apollo-angular).

ERROR in [at-loader] ./compiled/node_modules/apollo-angular/build/src/Apollo.ngsummary.ts:19:86
    TS2339: Property 'ClientMap' does not exist on type 'typeof "node_modules/apollo-angular/build/src/types"'.

Could you provide me, some workarounds ?

My Webpack config

[2017-08-07 10:51] Uter1007 commented on #340
Could be related to: https://github.com/s-panferov/awesome-typescript-loader/issues/320

[2017-08-07 10:58] Uter1007 commented on #340
+ is it really aot compatible ? https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad . Shouldn't be a metadata file be added ?

[2017-08-07 22:17] baio opened #341 "AOT Compilation bug"
During build (In AOT mode only)
My setup angular2 project + apollo-client.

App have following errors
[code]

Project includes many over dependencies and build fine without apollo-angular dependency.
Project gives this error only with AOT compilation (production mode)

I would consider this bug critical, since angular 2 projects couldn't be build in production with apollo-angular.

[code]

[2017-08-08 05:30] #341 closed

[2017-08-12 05:28] yordis opened #343 "Typescript compilation errors"
I just tried to integrate it and I got this. The other tickets related to Typescript are issue with the types but this one is different.

### Dependencies
[code]
### Error
[code]

[2017-08-12 07:54] ngocdiep commented on #116
I'm using angular 4, and this issue happens (Error: Network error: fetch is not defined).
Could you help me how to fix it?

Best thanks!!

[2017-08-12 08:19] ngocdiep opened #344 "Server side rendering error with angular 4"
Hi,
  I get the project from https://github.com/angular/universal-starter and add the apollo-angular. It works perfectly in the client side rendering but not in the server side rendering (it shows error log: 'Error: Network error: fetch is not defined')

 Could someone help me how to fix it?

Best thanks!!!

[2017-08-12 11:28] kamilkisiela commented on #327
Hi all!

Try to add `apollo-client-rxjs@0.6.0-rc.1` as a dependency in your project and tell me how it works for you ;)

[2017-08-12 11:31] kamilkisiela commented on #344
Try to add `isomorphic-fetch` to dependencies and import it at the very beginning of your source code.

Quite some time ago I created a working example of that starter with usage of Apollo.
https://github.com/kamilkisiela/universal-starter-apollo

Because Angular Team change the way they handle async operations in SSR I'll try to implement those changes in apollo-angular soon

[2017-08-12 13:16] ngocdiep commented on #344
Hi @kamilkisiela,
  Thanks for your support, it works now 😊
Thank you!

[2017-08-12 13:16] #344 closed

[2017-08-13 00:50] Uter1007 opened #345 "Trying to compile code on my own"
After npm install, I will get these errors (from ngc):

`Error at E:/code/apollo-angular/node_modules/@types/graphql/subscription/subscribe.d.ts:17:4: Cannot find name
'AsyncIterator'.
Error at E:/code/apollo-angular/node_modules/@types/graphql/subscription/subscribe.d.ts:29:4: Cannot find name
'AsyncIterable'.
Error at E:/code/apollo-angular/node_modules/apollo-client/core/types.d.ts:17:45: ',' e

[2017-08-13 00:53] Uter1007 commented on #345
fix-latest branch was fixing these issues

[2017-08-13 00:53] #345 closed

[2017-08-13 01:42] Uter1007 commented on #341
HI can you provide steps how you solved this issue ?

[2017-08-13 13:20] viztastic opened #346 "Is apollo-angular still being maintained?"
@kamilkisiela I can't help but notice that the releases have slowed down significantly since earlier this year. Is apollo-angular still being actively maintained?

Thanks!

[2017-08-13 13:33] abdulhaq-e commented on #327
It didn't solve the problem, PR #45 did though, I tested it.

[2017-08-13 13:35] abdulhaq-e commented on #343
Can you try removing the `node_modules` and reinstall again.

[2017-08-13 18:22] altschuler commented on #295
Having the same issues. In this case I'm not listening directly to the updates, but watching fragments which are updated by the subscription results. I'm pretty sure it worked all fine at some point and I suspect it might have changed with some angular update. FWIW I tried to do "fix" it with `ApplicationRef.tick` and a setTimeout with 0 delay, which "fixed" it, except not in Firefox... Will repor

[2017-08-14 00:42] yordis commented on #343
@abdulhaq-e Did it already

[2017-08-14 11:10] altschuler commented on #295
FWIW I worked around this by running a an `ApplicationRef.tick`, in a `setTimeout` with 100ms delay, manually in the angular zone, after subscriptions come back from the server.

Eg
[code]

Terrible, I know, but seems to solve the issue for now. I have a hunch that it has something to do with zone.js and/or how this library wraps the observable to run in the zone. Zone.js recently (about a month a

[2017-08-18 10:40] kamilkisiela commented on #346
I'm still keeping an eye on it. Currently, there is an issue with `apollo-client-rxjs` package that I'm trying to resolve. Also, SSR is not working which I fixed already but still waiting to release everything at once.

It's true that pushing updates slowed down. That's because I have other project and besides those two issues there's nothing significant to do with `apollo-angular`. I mean, I don'

[2017-08-20 23:02] Uter1007 commented on #346
keep up that great work.

[2017-08-23 19:06] picosam commented on #346
Hello @kamilkisiela! I've noticed you released an RC of `apollo-client-rxjs` 11 days ago. Is this what needs to be updated in this project so that compilation with Typescript 2.4 would work?

[2017-08-30 04:30] divramod opened #348 "unit-testing a service which uses apollo-angular"
Hey,

i want to test a service which uses apollo. The Service looks like that:

[code]

The test looks like that:

[code]

My question is: what and how should i provide the apollo module/client in the line ```let service = new AuthService(???)``` Is this the right approach to unit-test the apollo-client?

thx in advance

[2017-08-30 05:45] DxCx opened #349 "Support for Apollo-Client 2"
Hey!

what's the plans on supporting the new apollo client?

at the moment the only breaking change i've found was that apollo client changed to use default import instead of named import, but i cannot really confirm this is the only issue

[2017-08-31 11:42] PtrWlp opened #351 "no exported member 'ApolloExecutionResult'"
apollo-client-rxjs@0.5.2, apollo-client 1.0.0 and appollo-angular@0.13.1 gives me
`Error at /Users/(me...)/node_modules/apollo-angular/build/src/Apollo.d.ts:2:100: Module '"/Users/(me...)/node_modules/apollo-client/index"' has no exported member 'ApolloExecutionResult'. `
Also in combination with apollo-client-rxjs@0.6.0-rc.1.

[2017-08-31 11:48] PtrWlp commented on #351
Also in combination with apollo-client-rxjs@0.6.0-rc.1 i fear...

[2017-09-01 02:04] esistgut commented on #349
Considering that one of the main features for the new 2.0 client is the decoupling of the store apis and being ngrx the main store platform for angular... Can we expect some built in integration inside this project?

[2017-09-01 17:04] vu-bui opened #352 "Apollo.mutate does not work on 1.13.1"
I have this problem with the new version 1.13.1. There is nothing shown on the console. Reverting back to 1.13.0 works. Here is the simple piece of code
[code]
The network interface for the ApolloClient is a websocket SubscriptionClient.

[2017-09-04 08:03] alansmithribae commented on #320
I am also seeing this issue on our project. Delay didn't work for me, instead Apollo subscription results seem to have to be wrapped in a zone.run(() => { ... }) to get Angular templates to update.

We are using stock change detection (i.e NO ON_PUSH)
Could this also be related to [#295](https://github.com/apollographql/apollo-angular/issues/295)?

[2017-09-04 10:13] Chabane commented on #351
Same issue

[2017-09-04 10:28] mwld commented on #351
I think there are issues with apollo-angular-rxjs. See theses posts/issues for more detail:
- https://github.com/apollographql/apollo-angular/issues/346#issuecomment-323321202
- https://github.com/kamilkisiela/apollo-client-rxjs/issues/42

Downgrading apollo-angular to 0.13.0 should make it work for you in the meantime.

[2017-09-04 11:54] layonsonofre commented on #348
Hi,

What if you try something like this:
[code]

I don't know if it is the right approach.
Hope it works

[2017-09-05 06:02] PtrWlp commented on #351
Yes, so we noticed. Good luck with the next version! Thanks.

[2017-09-05 06:02] #351 closed

[2017-09-05 09:56] agborkowski commented on #337
i think you should check apollo client configuration with init key template similar ->  ${classname}.${oid}

[2017-09-05 12:37] ribizli commented on #320
I can again confirm, that this **bug is still valid**.

I've tested it with `NgZone.isInAngularZone()` in the `next()` handler, and any emission caused by an Apollo Client cache update is outside of `NgZone`.

Again a short description:
I use `watchQuery` to query an object. The first result is emitted in `NgZone`. Later a GraphQL Subscription sends an update of this object. The emission from the

[2017-09-06 09:57] ribizli commented on #320
Workaround No.2 - wrapping the watchQuery observable into `NgZone`:
[code]

[2017-09-07 23:58] abdulhaq-e commented on #348
Hi

I haven't tried testing such a service in a standalone fashion, I've only tested with `angular` specific tools.

First, you need an instance of `GraphQLSchema` which can be obtained using different methods depending on what server you're using. Assuming you have an "introspection" of your schema defined in a `json` file (you can run a so called "introspection query" on your GraphQL server to g

[2017-09-11 10:32] xinshangshangxin commented on #340
I also found this, how to resolve it?

[2017-09-13 13:23] DxCx commented on #349
@kamilkisiela @Urigo @jbaxleyiii @stubailo ?

[2017-09-13 14:12] kamilkisiela commented on #349
I'll take a look at it soon,I'm just not yet familiar with all those new things, whole ecosystem of packages. Give me couple of days to come up with something. Maybe would it be a great chance to change the point of view on the current implementation. Will see.

[2017-09-13 16:55] monkeychops commented on #296
@tariknz this is exactly what I needed. Nice one!

[2017-09-14 06:47] DxCx commented on #349
Well since its observable based now there are alot of code that can be refactored and removed from here but i think first step is to compile it vs alpha (or beta already) version and have a working release (only requires compile and publish vs latest client)

[2017-09-14 07:21] crumhorn opened #353 "Issue after upgrading to 0.13.1 from 0.13.0"
I just upgraded my versions to the latest as of this writing;
- apollo-angular@0.13.1
- apollo-client@1.9.2
- apollo-client-rxjs@0.6.0-rc.1

And am getting the following error when I try to load up my Angular 2 application:

`Error: Unable to dynamically transpile ES module
   A loader plugin needs to be configured via `SystemJS.config({ transpiler: 'transpiler-module' })`.
  Instantiating http://

[2017-09-14 07:37] dotansimha commented on #352
@vu-bui try to add `subscribe(console.log)` to the return value of the `mutate`

[2017-09-14 07:40] dotansimha opened #354 "http request called more than once when biding to view with `async` Pipe"
Running `watchQuery` with a query, and use the observable returned from the request this way, inside a component:
[code]

Then, in the template, I am using:
[code]

And it causing the apollo-client to execute the http request of the query twice.

I found a temporary workaround:
[code]

@Urigo @eitanfr @tomermoshe @kamilkisiela

[2017-09-14 07:44] DxCx commented on #354
calling twice is the expected behavior as it is created as cold observable.
your workaround is the correct solution which is to make it hot observable.
im not sure if we want the observables to be hot out of the box.

[2017-09-14 07:53] dotansimha commented on #354
@DxCx why not? how does that effect the behavior of the observable in our case?

[2017-09-14 09:48] abdulhaq-e commented on #349
I'm not sure but I think with the introduction of `Apollo Link`, this library can use angular's native http module (`HttpClient`).

[2017-09-14 09:52] abdulhaq-e commented on #354
Just to make a note here, this behaviour is described in the docs. I was about to use the `async` pipe (cleaner code) when I read it.

http://dev.apollodata.com/angular2/queries.html

[2017-09-14 10:05] DxCx commented on #354
@dotansimha an observable can be warmed by multicasting it, but once multicast it cannot be unmulticasted.
by default, most of the observables you will get are cold ones..
so you can "warm" it yourself but i don't see a reason to force it

[2017-09-14 10:58] crumhorn commented on #353
Just want to add, with all other versions staying on the latest, but changing apollo-angular back to 0.13.0 it works again, so the change must be between 0.13.0 and 0.13.1.

[2017-09-14 13:00] eitanfr commented on #354
@dotansimha I also think that the best thing is to call `publish()` or `share()` yourself, this way you give the user the freedom to what ever he wants with his RxObserver

[2017-09-14 16:37] cime opened #355 "watchQuery events"
Is it possible to know when will the query be executed when you use watchQuery? I would like to set a isBusy property to true before the query is executed and to false on response/error.
I have an angular component for data table that takes query and variables as input. Those variables are merged with component's internal variables (for paging etc).

Something like:

    this.apollo.watchQuery({

[2017-09-14 19:12] mrbfrank commented on #349
I'm looking forward to trying `apollo-client@beta` with Angular, +1

[2017-09-15 03:04] vu-bui commented on #352
@dotansimha it's weird that I cannot reproduce this anymore. The last time I had this problem, I did check the message frames on the websocket connection, and there was no message sent to the server or whatsoever. It's been a while since then and I think I've upgraded some of the dependencies' version that might fix the issue, or maybe, it's just me doing something wrong then.

Thanks for bringing

[2017-09-15 03:04] #352 closed

[2017-09-15 08:46] Uter1007 commented on #340
Currently, I don't have a solution :( I've upgraded all dependencies but still the same error with ClientMap does not exist on type typeof "/node_modules/apollo-angular/build/src/types"'." None AOT Compilation works like a charm.

[2017-09-16 21:06] kamilkisiela commented on #355
Observable that comes from `watchQuery` works like any other Observable.
You can create a wrapper function that runs query so you know when `isBusy` should be `true` and then you can use RxJS `do` operator to catch the response and set it to `false`.

[2017-09-17 09:04] CaerusKaru opened #357 "Support for Angular v5"
Angular will be entering RC for v5.0.0 in [roughly a week](https://github.com/angular/angular/blob/master/docs/RELEASE_SCHEDULE.md), so this issue is open to track compatibility issues with the latest version.

One breaking change already shown is the deprecation of OpaqueToken, which is fixed with #316 (potentially).

[2017-09-18 09:57] kamilkisiela commented on #357
First step to support v5 #358

[2017-09-18 13:19] Alexintosh commented on #343
Got the same problem, any updates on this?

[2017-09-18 14:49] yordis commented on #343
@Alexintosh

[code]

[2017-09-19 07:31] Alexintosh commented on #343
@yordis thanks mate, I'm still getting the same error though. Can you explain why asynciterable should make it work? I'd like to see the bigger picture.

[2017-09-19 07:32] yordis commented on #343
@Alexintosh when you override `lib` you will miss the default types so you need to add back on the `asynciterable` types.

P.S: I quit Angular and Typescript all together, no time for real with this things so sorry if I can't give you a clever argument

[2017-09-19 18:49] josephsong commented on #340
This is killing AOT for me, too.

[2017-09-20 07:59] Alexintosh commented on #343
It appears to be an issue related to [apollo-client](https://github.com/apollographql/apollo-client/issues/2080).

[2017-09-20 10:13] intellix commented on #357
Installing Angular 5 in my project and am blocked by this not being released.
Would be cool if @next was published after every commit so we can live on the edge :)

[code]

[2017-09-20 10:30] Uter1007 commented on #340
@kamilkisiela could you give it a try ? Would be awesome to have a valid AOT build ^^

[2017-09-20 10:54] kamilkisiela commented on #340
@Uter1007 I will try to find some time today

[2017-09-20 22:29] drejohnson opened #361 "'token import' error when deploying to Firebase using Cloud Functions"
[code]

[2017-09-20 22:35] abdulhaq-e commented on #340
I build using aot and don't get this error, weird.

[2017-09-20 23:12] Uter1007 commented on #340
can you show your setup ? angularclass is using ngc-webpack. + could you show us your tsconfig ? maybe thats the problem....

[2017-09-21 00:54] abdulhaq-e commented on #340
Using typical app generated using Angular CLI. The only thing I changed was adding `      "esnext.asynciterable"` to the `"libs"` array in tsconfig, this is related to an issue with this library or apollo client, I forgot which one.

[2017-09-21 12:33] Uter1007 commented on #340
ok I believe the relies on the ngc-webpack (wrapper for angular-cli) package. could you provide your package.json ?

[2017-09-21 15:23] abdulhaq-e commented on #340
Sure.
[code]
btw, `0.13.1` of this library also works.

[2017-09-21 18:38] Eraldo commented on #89
@manuelfink Can you please share your solution?
If you are using a newer version/method I would prefer that one. ;)

[2017-09-22 10:54] Alexintosh commented on #343
Downgrading this packages will fix the problem.
[code]

[2017-09-22 19:38] CaerusKaru opened #363 "bug(aot): warning compiling with AOT in angular v5"
When compiling a project using apollo-angular with angular v5 and AOT, the following error is received:

[code]

[2017-09-22 19:38] CaerusKaru commented on #357
Compiling errors with AOT, documented here #363

[2017-09-22 20:03] 3nd commented on #340
+1 I am having this same issue on AOT builds. Using OSX.

ERROR:
dist/tmp/node_modules/apollo-angular/build/src/Apollo.ngsummary.ts(19,86): error TS2339: Property 'ClientMap' does not exist on type 'typeof "/Users/tbright/Downloads/angular-seed-advanced-master/node_modules/apollo-angular/build/s...'.

PACKAGE.JSON
"devDependencies": {
    "@angular/compiler-cli": "^4.4.3",
    "@angular/platform-s

[2017-09-23 07:47] Uter1007 commented on #340
@kamilkisilea any update on your investigations? Cheers.

[2017-09-23 17:13] manzonif opened #365 "select pipe not found in angular 4.3.5"
Hi, trying to use select pipe into template, cause me the following error:
 Template parse errors:
The pipe 'select' could not be found.

If I declare it in my app.module.ts:

"Type SelectPipe is part of the declarations of 2 modules: ApolloModule and AppModule! Please consider moving SelectPipe to a higher module that imports ApolloModule and AppModule. You can also create a new NgModule that exp

[2017-09-23 20:54] kamilkisiela commented on #365
This error says that you have SelectPipe in two places, in `ApolloModule` which is a expected behavior and  in `AppModule` and that's weird.

Let me explain it to you, using a code sample:

[code]

Is this what you have?

[2017-09-23 20:57] #340 closed

[2017-09-23 20:57] #363 closed

[2017-09-23 20:58] kamilkisiela commented on #352
@vu-bui https://github.com/apollographql/apollo-angular/blob/master/CHANGELOG.md#v0131

[2017-09-23 20:59] kamilkisiela commented on #340
@Uter1007 Fix will be released after the weekend.

[2017-09-23 21:44] #357 closed

[2017-09-24 21:43] manzonif commented on #365
without SelectPipe in declarations:

Template parse errors:
The pipe 'select' could not be found.****

[2017-09-27 17:19] davidctaylor opened #370 "apollo angular watchQuery with pollInterval not working"
Hi,
I'm having an issue using pollInterval with watchQuery, this initial query is returned but subsequent requests are not made.

Relevant pieces from package.json
        "apollo-angular": "0.13.1",
        "apollo-client": "^1.9.1",
        "apollo-client-rxjs": "^0.6.0-rc.1",
        "graphql": "^0.11.2",
        "graphql-tag": "^2.4.2",

This is my code;
this.apollo.watchQuery<any>({

[2017-09-29 05:11] luchillo17 commented on #142
So you guys using `indexOf` for determining if the error was a `401`?

Why not creating a new error and then using `instanceof`?

[code]
This approach worked very well for me following the apollo interceptor way described above in your comments.

[2017-09-29 12:51] Stradivario opened #371 "Angular 5.0 OpaqueToken deprecation vs InjectionToken(new)"
Result: Webpack throws exception inside token.d.ts that OpaqueToken is missing
Expected: Webpack should not throw error

I saw that inside master branch you have the right InjectToken value instead of OpaqueToken but when users try to clean install npm install  `apollo-angular --save` it will take `0.13.2` version which doesn't have this fix.I try also to install version via npm install `git+http:

[2017-09-29 15:35] luchillo17 commented on #142
@kadosh1000 Have you tried catching the error somewhere just like i do?

[2017-10-02 14:10] patriknil90 commented on #349
Any updates on this? Looking forward to implement the 2.0 apollo client :)

[2017-10-02 14:36] luchillo17 commented on #142
Oh my bad, seems like the apollo client catches errors and just grabs the error message out of it, damn.

[2017-10-02 14:53] DxCx commented on #349
it's already working (Angular-Client@beta + latest apolo-angular)
however, i think this library needs a huge refactor to really support it properly and not just "work".

[2017-10-02 15:05] kamilkisiela commented on #349
@DxCx Yes and that's what I'm going to do in two weeks.

[2017-10-02 15:56] abdulhaq-e commented on #349
@kamilkisiela Do you mind writing a short plan on what is going to change, maybe the community can contribute ideas before implementing anything

[2017-10-02 23:57] josephsong commented on #340
Any news on this getting released?

[2017-10-03 12:20] 3nd commented on #340
When will this change be added to the npm apollo-angular? Will it be 13.2?

[2017-10-03 12:21] ribizli opened #372 "Warning: Can't resolve all parameters for Apollo (AOT, @angular/cli)"
Warning: Can't resolve all parameters for Apollo in C:/work/DAS/workspace/das-gui/node_modules/apollo-angular/build/src/Apollo.d.ts: (?). This will become an error in Angular v5.x

[2017-10-03 16:02] krabovm opened #373 "No error messages on mutate when there's a mistake in query"
apollo-angular 0.13.1

**Intended outcome**: if `apollo.mutate({mutation, variables})` cannot send request for there is a mistake in `mutation` syntax, it should print an error in console.
**Actual outcome**: there is no error in browser console, request is just not being sent. Not really clear, which part of my code is broken.
**Reproduction**: [repo](https://github.com/krabovm/angular-apollo-iss

[2017-10-04 11:40] kamilkisiela commented on #372
This issue will be fixed with the [upcoming release](https://github.com/apollographql/apollo-angular/blob/master/CHANGELOG.md#vnext)

[2017-10-04 11:40] #372 closed

[2017-10-04 13:39] Uter1007 commented on #340
@kamilkisiela : any plans for new release ?

[2017-10-04 14:08] kamilkisiela commented on #340
Expect it to be done in a day or two. Somehow I don't have access to this repository which I'm trying to solve.

I asked @Urigo to publish recent changes as v0.13.2

[2017-10-04 14:09] 3nd commented on #340
@kamilkisiela: Thank you! Looking forward to it!

[2017-10-04 14:21] krabovm commented on #373
Added a repo showing the issue

[2017-10-05 09:57] Urigo commented on #340
just published `0.13.2`

[2017-10-07 17:25] krabovm commented on #373
Okay, I've finally found my mistake. One have to subscribe to `.mutate()` or `.query()` to actually perform the request. Sorry for opening this issue.

[2017-10-07 17:25] #373 closed

[2017-10-08 03:03] raysuelzer commented on #142
I'm still having trouble figuring out how to tackle the situation where my Apollo-Client depends upon an Angular2 service middleware.

For example, my provideApollo() function cannot be injected into ApolloModule.forRoot becuase it has dependencies.

import { Injectable } from '@angular/core';
import { ApolloClient, createNetworkInterface } from 'apollo-client';
import { ApolloModule } from 'apoll

[2017-10-08 03:11] raysuelzer opened #375 "How to use forRoot when ApolloClient depends upon angular service"
How would you configure the ApolloModule to accept an Apollo client that depends upon an Angular provider.  For example, I use Angular2Token, I need to have my AppoloClient use Angular2Token as a middleware, but I cannot pass anything except a parameterless function into forRoot method.

[2017-10-08 03:22] luchillo17 commented on #142
Since i'm not using any service to manage tokens, i don't have this kind of problem, though i'm tempted to use it since it offers a lot of nice features (specially for the Devise gem).

The only place those `currentAuthHeaders` exist is in the service? if not, you could work around it, but if yes idk how to, because usually you pass the client as a dependency of the `.forRoot()`, which is at confi

[2017-10-08 03:54] luchillo17 commented on #142
Actually after looking at the code the `forRoot()` uses, it calls a function and it uses the result as the providers of the module according to lines [ApolloModule.ts#L41-L42](https://github.com/apollographql/apollo-angular/blob/master/src/ApolloModule.ts#L41-L42
), so in theory depending on what is there you could see if the client passed is actually provided to Angular as a service, let's take a

[2017-10-08 04:15] luchillo17 commented on #142
Maybe i'm reading this wrong but as far as angular and apollo is concerned, you can pass the `forRoot()` method a function that just returns the actual client, or you could just pass an object that has the client as one of it's variables, though the exact name i'm still trying to figure out:
https://github.com/apollographql/apollo-angular/blob/master/src/types.ts#L3-L5

Oh wait i found it, you nee

[2017-10-10 02:14] changalberto commented on #349
Does anyone have a working example if Apollo Client 2.0 in Angular 4 yet? Preferably with ngrx...

[2017-10-10 09:21] JCBsystem commented on #365
any new on this ?
have the same problem

[2017-10-10 10:51] changalberto commented on #349
@DxCx How did you get angular client @beta + latest apollo angular to work? I'm getting type errors...

[code]

[2017-10-10 15:33] DxCx commented on #349
package.json:
[code]

client.ts:
[code]

app.module.ts:
[code]

[2017-10-10 22:18] Stradivario commented on #371
Fixed inside 0.13.2 version!

[2017-10-10 22:18] #371 closed

[2017-10-11 01:03] changalberto commented on #349
@DxCx Still no go for me 😪

[code]

[2017-10-11 08:56] DxCx commented on #349
hmm, i would first try downgrading packages to the one worked for me, i haven't tried with latest yet.
if not looks like some later change broke it again, @kamilkisiela how is it going with offical support?

[2017-10-12 16:35] kamilkisiela commented on #349
@DxCx Fantastic news! Expect it to be done in next few days! :) :tada:

Supper pumped about the possibilities the next version will bring!!! :bomb:
Stay tuned!

[2017-10-12 21:53] kamilkisiela commented on #375
It will be possible in the next release of angular-apollo. Stay tuned

[2017-10-13 01:11] changalberto commented on #349
@kamilkisiela Don't hype me up too much. I'm expecting this to be done by Sat then!
I look forward to the good new =)

[2017-10-13 11:46] kamilkisiela commented on #346
Hi all!

Great news! Brand new version `apollo-angular` is coming soon! Expect the first alpha version in next two / three days

[2017-10-13 18:42] somecallmemike commented on #296
I am trying to utilize @tariknz method, however I keep getting the error:

`
ERROR in Error encountered resolving symbol values statically. Calling function 'GraphQLNetworkInterface', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol networkInterface in /src/app/app.module.ts, resolving symbol AppModule in /src/ap

[2017-10-15 21:41] luchillo17 commented on #142
@raysuelzer Any progress?

[2017-10-15 21:44] raysuelzer commented on #142
@luchillo17  Thanks for the advice.  What I ended up doing was just grabbing the headers manually from localStorage, thus by passing the need to use Angular2Token.

[code]

[2017-10-15 21:55] raysuelzer commented on #142
It seems like the method you indicated might work, but at this point it's probably not worth the effort of trying to get it working since my current solution is straight forward and works fine. But, it would be great if there was some documentation on how to use another Angular service as part of the middleware.

[2017-10-15 22:38] kamilkisiela commented on #142
Good news everyone. It will be possible to use any service thanks to new API that's coming up in few days!

[2017-10-15 23:47] luchillo17 commented on #142
So we don't get to know if my suggestion does work or not, that's a shame.

[2017-10-17 05:18] miquelferrerllompart opened #376 "New subscription for each call to fetchMore"
Hello,

I have a problem with `fetchMore` function of `watchQuery`.
I have implemented a infinite scroll for my app, when i call to `fechMore` function of my `watchQuery` is created a new Subscription, i can see on "Apollo Dev Tools".
The problem is i can't unsubscribe of this new subscriptions because i don't have any reference about them.

This is the watchQuery function:
[code]

and with the re

[2017-10-17 15:59] kamilkisiela commented on #376
I think it's on the `apollo-client` side but give me some time to check it.

[2017-10-18 18:58] kamilkisiela commented on #296
It will be possible with Angular's `HttpInterceptors` and new apollo-angular #377 (thanks to links - especially `apollo-angular-http-link`)

[2017-10-18 18:58] #324 closed

[2017-10-18 19:02] kamilkisiela commented on #330
Thanks to ApolloClient 2.0 it will be possible to use it with any cache mechanism you want to. 2.0 and new version of apollo-angular is coming soon. Check this #377

[2017-10-18 19:04] kamilkisiela commented on #346
Preview of future 1.0 #377
I had no sleep in recent few days :)

[2017-10-18 19:09] kamilkisiela commented on #348
Interesting news!
I pushed a preview of v1.0. You can take a look #377

Since ApolloClient 2.0 has a new feature called Links (ApolloLink library), it's possible to create your own fetcher.

I did create it, it's called `HttpLink` and it uses Angular's `HttpClient` to make requests.
So now, you can test it as you would do with any service that uses `HttpClient`.

Here's an example (last line):
htt

[2017-10-18 19:10] kamilkisiela commented on #349
Ok, we have it!

#377 - it's a preview of v1.0, looking forward to hear your thoughts about it

[2017-10-18 19:10] kamilkisiela commented on #353
No more `apollo-client-rxjs`.
#377

[2017-10-19 02:14] beta commented on #349
Thanks for mentioning me and informing me of this awesome project lol 😆

[2017-10-19 12:41] KillerCodeMonkey commented on #370
it is working i think, but you have to keep in mind, that you callback is only executed if there are any changes in the cache/response object.

I had the same misleading idea how this works.

1. if you want to make a request everytime, you need to change the fetchPolicy from `cache-first` (if the value is in cache --> no requests are made)
2. even if you set fetchPolicy to `network-only` --> reque

[2017-10-22 13:40] b-barry opened #379 "Angular HowToGraphQL sample for apollo-angular 1.0"
Hello @kamilkisiela,

First of all, I would like to thank you for the work done for the 1.0.
I was working on "how to graphql" version angular, and I had some bugs regarding the subscription with the old version.
Now, with the 1.0, all examples are working. You can find the [code](https://github.com/howtographql/angular-apollo)

If you need help for the documentation or creating recipes,  I will b

[2017-10-24 10:06] kamilkisiela commented on #379
@b-barry That's super awesome! I will definitely need some help on documenting new things, will message you :)

[2017-10-30 14:59] 3nd commented on #340
Many thanks, this did solve the issue and AOT works as it should. Just a note in case anyone needs it. You will need Apollo-client@1.9.0 at a minimum.

-cheers

[2017-10-30 21:14] nicky-lenaers commented on #348
@kamilkisiela Is it possible to use the `apollo` instance directly inside the test suite, instead of having to call `execute` from `apollo-link`? I have my setup pretty much the same as [this setup](https://stackblitz.com/edit/simple-apollo-angular-example?file=app/graphql.module.ts), along with Angular's new `HttpClientTestingModule` and `Apollo`. So setting up my TestBed looks like this:

[code]

[2017-10-31 07:55] nlko opened #385 ""Initialization" section in documentation installs incorrect apollo-client version"
To my understanding apollo-angular doesn't support yet apollo-client 2.x. While apollo-angular 1.x for (for apollo-client 2.x) is still in beta version, I think it is better to force a stable apollo-client ^1.x version to avoid troubles to newcomers.

The current documentation could be updated to

[code]

[2017-10-31 11:43] chris08002 commented on #376
@kamilkisiela Did you have a chance to look at this one?

[2017-11-01 23:35] Dutchboy commented on #379
@b-barry @kamilkisiela  I want to join in!.... I know it's been 9 days... A bit late, another lunatic ISIS attack later, but I think I can be of value.....

@b-barry .... you're of immensely great value, but even though you got it working, and in the short time gave it a chance I didn't, I do think there should be a much nicer (SOC) separation of concerns here... and get ngrx into it too.... ngrx

[2017-11-04 21:36] ysantalla opened #387 "npm WARN apollo-angular@1.0.0-beta.0 requires a peer of apollo-link@^0.8.0 but none is installed. You must install peer dependencies yourself."

[2017-11-06 00:35] raysuelzer opened #388 "Beta 1.0.0-beta.2 UNMET PEER DEPENDENCY"
I am getting these errors even though I am already using 5.0.0

[code]
My package.json

[code]

[2017-11-06 00:39] raysuelzer commented on #388
Closing, strangely, this disappeared when i did npm install a second time.

[2017-11-06 00:39] #388 closed

[2017-11-06 02:18] raysuelzer opened #389 "updateQueries no longer working in beta 1.0.0?"
It appears that updateQueries no longer workins in the 1.0.0 beta branch.

Any code in `updateQueries` is no longer run:

[code]

[2017-11-06 08:18] headonkeyboard commented on #389
You need to subscribe to your mutation call (like you would do on queries). Subscription will fire the mutation :).

[2017-11-07 07:04] darmie opened #391 "Typescript Compilation Errors , GraphQL modules not found"
I am trying to compile my app, after using latest versions of apollo-angular and apollo-client, I had issues regarding unmet dependencies.

so i downgraded to
[code]

and I am seeing errors such as:
[code]

[2017-11-07 07:38] darmie commented on #391
Ok so I was able to solve the above error by installing latest `apollo-angular` according to the package's exact dependency versions.

This is my new error
[code]

[2017-11-07 08:13] darmie commented on #391
Resolved here https://github.com/apollographql/apollo-angular/issues/351

[2017-11-07 08:13] #391 closed

[2017-11-07 14:58] daniele-zurico opened #392 "Angular 5 and Apollo definitions error"
My Package.json
[code]

Code:
[code]

client.ts
[code]

This is the error I'm having:
[code]

[2017-11-07 16:04] KevinDanikowski commented on #161
@patriknil90 Do you think you could provide your full code for what worked here? Or perhaps you've found another way of doing this over the past year? I'm sure it's been a while so I understand if you can't find it. Thanks @patriknil90

[2017-11-07 21:26] sjensen85 commented on #392
I found the solution to this [here](https://github.com/apollographql/apollo-client)

[2017-11-08 07:59] patriknil90 commented on #161
@KevinDanikowski Sure!

[code]

[2017-11-08 11:55] daniele-zurico commented on #392
still not working!

[2017-11-08 15:36] sjensen85 commented on #392
Can you provide more info? This is my first time using apollo-client and angular 5, so not an expert here.

I actually downgraded to angular 4 and the respective apollo-client since the documentation is not up to date.

[2017-11-08 15:42] daniele-zurico commented on #392
ahaha I was hoping the opposite...could you give to me your package.json and how you initialised everything? thanks

[2017-11-08 17:06] sjensen85 commented on #392
Maybe I just missed a big portion of the docs - the tutorial is out of date, but there is a migration guide for apollo-client 2. I am trying to use the latest again with the migration guide. And have been able to successfully. I would say go through the tutorial as you have been, then follow the migration guide.

[2017-11-08 18:35] dustin-cooler opened #394 "How to set Apollo client within testing module - 1.0.0-beta.0"
Given something like the following:

[code]
how do I set the client on the injected Apollo instance so that it's available to providers?

I tried writing a custom module that imports ApolloModule and then sets the client as described in the Initialization section of the [migration doc](https://github.com/apollographql/apollo-angular/blob/1.0.0-beta.0/Migration.md), and then importing the custom mo

[2017-11-09 05:23] intellix opened #395 "apollo-angular-link-http GET sends variables as `[object Object]`"
Trying 1.0 (had to clone, build and link locally as tag is missing) and it seems that variables are sent as `[object Object]` when using:

[code]

My usage:
[code]

cURL generated:
[code]

Reproduction: https://github.com/intellix/angular-cli-universal

## Versions

[code]

[2017-11-09 23:59] simonhaenisch opened #396 "where is the changelog?"
I am still using `0.13.3` but now `1.0.0` is available (along with `apollo-client@2`?). There have been lots of changes in the docs, and I would like to know about breaking changes before updating, but I can't find any changelog.

[2017-11-10 02:19] pycraft114 opened #397 "Cannot set property 'networkStatus' of undefined Error occurs when fetchMore gets invoked"
**Intended outcome:**

I'm trying to use fetchMore function that is described at your documentation. link : https://www.apollographql.com/docs/angular/recipes/pagination.html#fetch-more

below is the actual code :
[code]
but when fetchMore gets invoked, "Cannot set property 'networkStatus' of undefined" error occurs.

ps. After the 2.0.0 releases your documentations are very unstable .Inside the e

[2017-11-10 10:41] kamilkisiela commented on #396
Inside of each package `/packages/apollo-angular/CHANGELOG.md`

[2017-11-10 10:41] #396 closed

[2017-11-10 10:45] kamilkisiela commented on #392
@daniele-zurico It doesn't work because v0.X of `apollo-angular` doesn't support `apollo-client` v2.0. Please upgrade to `apollo-angular@1.0`

[2017-11-10 16:34] #353 closed

[2017-11-10 16:34] #349 closed

[2017-11-10 16:35] #330 closed

[2017-11-10 16:35] #327 closed

[2017-11-10 16:35] kamilkisiela commented on #298
Fixed in v1.0

[2017-11-10 16:35] #298 closed

[2017-11-10 16:38] kamilkisiela commented on #296
with `apollo-angular@1.0.0` and `apollo-angular-link-http` you can specify `uri` in the context (as [here](https://github.com/apollographql/apollo-angular/tree/master/packages/apollo-angular-link-http#context)). It's not documented yet but will be soon.

[2017-11-10 16:39] #296 closed

[2017-11-10 16:40] kamilkisiela commented on #320
works in `apollo-angular@1.0.0`

[2017-11-10 16:40] #320 closed

[2017-11-10 16:41] kamilkisiela commented on #102
Welcome Apollo Angular 1.0! [Integrating with NativeScript](https://www.apollographql.com/docs/angular/features/nativescript.html)

[2017-11-10 16:41] #102 closed

[2017-11-10 16:41] #142 closed

[2017-11-10 16:41] kamilkisiela commented on #295
Works in v1.0

[2017-11-10 16:41] #295 closed

[2017-11-10 16:42] kamilkisiela commented on #375
@raysuelzer It's out! Check v1.0

[2017-11-10 16:42] #375 closed

[2017-11-10 16:42] kamilkisiela commented on #365
Fixed in v1.0

[2017-11-10 16:42] #365 closed

[2017-11-11 10:28] tkhemani opened #403 "nextLink.execute is not a function"
I'm referring to the official sample app: https://stackblitz.com/edit/simple-apollo-angular-example
On upgrading apollo angular to 1.0 I see this error:

[code]

[2017-11-11 15:11] kamilkisiela commented on #403
Seems like an issue in UMD bundle, maybe in `apollo-client`, maybe in `apollo-angular`, let's find out.

Apollo Angular library works fine if you use it outside StackBlitz. Until I figure out what's going on, you can create the same example but using Angular CLI or anything.

[2017-11-13 02:08] miquelferrerllompart commented on #376
Hi @kamilkisiela Did you have some update?

[2017-11-13 08:49] intellix opened #404 "apollo-angular-link-http unexpectedly removes the first URI slash"
We're using a HttpClient Interceptor to append our API endpoint like:
[code]

I've noticed that when I create my link like so, the first slash is removed: https://github.com/apollographql/apollo-angular/blob/master/packages/apollo-angular-link-http/src/utils.ts#L3
[code]

I'm getting around this currently by just passing in `//graphql`, but it doesn't seem like the normalisation is expected or nec

[2017-11-14 12:57] gviligvili opened #406 "pollInterval keeps NgZone occupied and hangs e2e tests"
I use protractor to test my project.
If setTimeout / setInterval is used the ngZone is occupied, and the app won't stablize therefore the protractor will throw Timeout Error accours :
Timed out waiting for asynchronous Angular tasks to finish after 11 seconds.

When I use pollInterval option, protractor keep throwing this error.
when I remove pollInterval, e2e tests runs perfectly fine.

Intended

[2017-11-14 16:09] rafbgarcia opened #407 "Object [object Array] has no method 'includes'"
Hello there,

I apologise if this is not the right place for this issue, but I'm not sure what else to do, I'm asking here because the error happens in `apollo-angular`'s code.

I'm using `apollo-angular` in my Ionic app, and it works fine on Browser and iOS platforms, but in Android I get this error:

[code]

The request to the server goes through just fine, this error when it gets the response b

[2017-11-15 07:34] simonhaenisch opened #408 "Async middleware in 1.0.0"
Before, I could do:

[code]

Now, if I do:

[code]

I get a typescript error:

[code]

How would I return a promise properly, or execute async code inside the middleware? I know I could get the token first and then apply the middleware, but I want to retrieve the token from storage for each request, i. e. inside the middleware.

[2017-11-15 07:53] crumhorn opened #409 "Version 1.0 - How to set up the mappings? (Transpile error)"
I'm trying to upgrade to the newer versions of everything Apollo/GraphQL.

_Here's package.json versions_
[code]

but at startup of the Angular 2 application I get the following:

[code]

It doesn't seem to matter if I set tsconfig.json to compile to ES6 (was ES5), and I've tried multiple Babel setups as well to no avail. My systemjs.config mappings look like:

[code]

Anyone have any ideas what I

[2017-11-15 10:06] kamilkisiela commented on #408
Instead of a `Promise`, return an `Observable`.

Now you have a `Promise` that returns an `Observable` which would cause an error.

[2017-11-15 10:08] kamilkisiela commented on #409
`apollo-angular` and `apollo-angular-link-http` have `bundle.umd.js` for such use case

[2017-11-15 11:09] crumhorn commented on #409
Can't believe I missed that. Thanks!

Looks like I needed quite a few more dependencies on top of those, so if someone else comes along with the same issues, here's my systemjs config post-fix (packages are the same):

[code]

I hate mappings like the 'apollo-cache/lib/types' one, but I guess it is what it is.

[2017-11-15 11:12] kamilkisiela commented on #409
Thanks to apollographql/apollo-link#246 all Links will (when the new version is released) have `lib/bundle.umd.js` and `lib/index.js` for ES Modules. It would be easier to use them.

[2017-11-15 11:13] kamilkisiela commented on #409
Also thanks to apollographql/apollo-client#2466 packages like `apollo-cache`, `apollo-utilites` and others would be super easy too.

[2017-11-15 16:10] #395 closed

[2017-11-15 16:11] #404 closed

[2017-11-15 16:16] kamilkisiela commented on #407
It seems like we use `Array.includes` in `apollo-angular-link-http`. I'm going to change it in a minute.

[2017-11-15 16:26] kamilkisiela commented on #326
Depends on your structure but since Apollo has it all stored flat and normalized. You can decide how an id of a record is being generated and update fragment or a whole query via Cache.

https://www.apollographql.com/docs/angular/basics/caching.html

[2017-11-15 16:26] #326 closed

[2017-11-15 16:26] #407 closed

[2017-11-15 16:27] kamilkisiela commented on #328
It won't be a problem anymore. Please try to use v1.0

[2017-11-15 16:27] #328 closed

[2017-11-15 16:28] kamilkisiela commented on #333
It's not an issue anymore. If you disagree just @mention me here so I can reopen it.

[2017-11-15 16:28] #333 closed

[2017-11-15 16:29] kamilkisiela commented on #335
It's now possible with `apollo-angular@1.0.0` and `apollo-angular-link-http`.

[2017-11-15 16:29] #335 closed

[2017-11-15 16:29] kamilkisiela commented on #336
It's all here
https://www.apollographql.com/docs/angular/features/subscriptions.html

[2017-11-15 16:29] #336 closed

[2017-11-15 16:31] kamilkisiela commented on #343
Since it's related to apollo-client. I'm closing this one.

[2017-11-15 16:31] #343 closed

[2017-11-15 16:32] kamilkisiela commented on #346
I'm closing this one :) Thanks guys for supporting me ;)

[2017-11-15 16:32] #346 closed

[2017-11-15 16:32] #355 closed

[2017-11-15 17:44] patricknazar commented on #394
I was just running into this. I've given mocking the Apollo injectable a try. Seems like a good idea, seeing as I'm testing a component's behavior against different expected values to be returned by apollo queries. For example, if a login component successfully displayed an error message when the server failed to respond, or if it gave the success message upon success. Depends on what you are test

[2017-11-15 20:56] #392 closed

[2017-11-15 20:57] kamilkisiela commented on #385
Thanks! Docs has been updated

[2017-11-15 20:57] #385 closed

[2017-11-15 20:57] #370 closed

[2017-11-15 20:58] kamilkisiela commented on #338
You can try to use `apollo-link-error`. I think it has a try/catch block so errors go to `error`.

[2017-11-15 21:00] kamilkisiela commented on #348
@nicky-lenaers It's happening because previously we has been normalizing url and removing the first slash. I'm going to publish a new version of `apollo-angular-link-http` that no longer has that. It should also work for you now.

[2017-11-15 22:50] kroeder opened #412 "Why doesn't .query() return a Promise?"
I've asked this here https://github.com/apollographql/apollo-client/issues/2561#event-1343477916 and I was told that apollo-client itself returns a promise on `.query()` - why doesn't apollo-angular do the same as apollo-client?

Here's the question I asked in the apollo-client repo:

Just wanted to ask for the reasen why .query() does not return a Promise

I always end up calling .toPromise() bec

[2017-11-15 23:42] Draccoz commented on #326
I think I wasn't clear enough.
The scenario is that:
1. We have a list of **Users**
2. **Each** user has a list of **Tasks**
3. A **task** is added for a **single user**
4. How to update list of **tasks** for a **specific** user that the change concerns?

I know I can write a bunch of code taken from the backend, that would decide which task belongs to whom, but isn't there a faster way to say "on

[2017-11-16 07:14] simonhaenisch commented on #408
Would be nice to have an example somewhere of how to do it with an `Observable`, but anyway I figured out another way using `setContext()` from `apollo-link-context`, which allows to be used with an async function/promise:

[code]

[code]

[Related Docs Link](https://www.apollographql.com/docs/angular/recipes/authentication.html#Header)

[2017-11-16 07:14] #408 closed

[2017-11-16 08:51] halilibrahim commented on #403
I've found out that NextLink::execute changed to NextLink::Request in apollo-link.
Upgrading to apollo-link to latest (1.0.2) solved the problem for me.

https://github.com/apollographql/apollo-link/blob/685b07dd024b2e97a0929ac841ba5e1d19aa042a/packages/apollo-link/src/link.ts#L84-L86

[2017-11-16 08:56] kamilkisiela commented on #412
You don't have to unsubscribe, it completes immediately after it receives the result.

We tried to make the experience the same as with any Angular service so everything is an Observable , just like in Angular's `HttpClient`.

[2017-11-16 09:04] kamilkisiela commented on #403
@halilibrahim Thanks, I updated the example on stackblitz.

[2017-11-16 09:04] #403 closed

[2017-11-16 09:40] nlko opened #414 "Parameter of the `from` function should be an array"
Hi, the [middleware documentation](https://www.apollographql.com/docs/angular/basics/network-layer.html#linkMiddleware) says :
[code]
I think it should rather be `from([authMiddleware, otherMiddleware, http]),` since the `from` signature is `export const from = (links: ApolloLink[]): ApolloLink => {…};`

Correct ?

[2017-11-16 09:43] kroeder commented on #412
Good to know - thanks. Not really sure when to unsubscribe an observable and when I don't have to, though. :/ It feels like there isn't any way except guessing or having a documentation that tells me how to handle the observable? Anyway, not something that need's to be discussed here.

[2017-11-16 09:47] kroeder commented on #412
PS: This prevents the use of `async / await` If I am correct. Only allowed in Promises ... Really feels odd to me

[2017-11-16 10:09] nlko opened #415 "Broken links in documentation"
Hello,

Here are some broken links I found in the documentation.

In [why](https://www.apollographql.com/docs/angular/index.html#) :
- `all the popular frontend frameworks`
- `Other JavaScript + native platforms`: all the javascript section is broken

The migration guide link in the menu doesn't work.

In [setup](https://www.apollographql.com/docs/angular/basics/setup.html)
- `For more infomation

[2017-11-16 13:51] mafalarz commented on #415
In Angular:
Migration guide
Webpack
Webpack fragments
...etc

[2017-11-16 13:57] mafalarz opened #417 "Documentation errors"
In the docs there are errors:
https://www.apollographql.com/docs/angular/basics/queries.html :
![image](https://user-images.githubusercontent.com/30442378/32894884-30f12dc8-caac-11e7-89df-330e009a9864.png)
Missing something in import { Apollo } from ' -angular';

[2017-11-16 16:42] kamilkisiela commented on #412
It's angular integration, it means there are Observable that can be chained. The whole ecosystem is built on Observables instead of Promises.

[2017-11-16 16:46] kamilkisiela commented on #415
Could you guys help with that or at least some of them?

[2017-11-16 16:59] nlko commented on #415
I'm sorry @kamilkisiela I would have already done a pull request if I hadn't to sign the Meteor Contributor Agreement for that.

[2017-11-16 17:10] kamilkisiela commented on #409
@crumhorn Is there anything I can help you or should we close it?

[2017-11-16 17:17] crumhorn commented on #409
@kamilkisiela all good, close it

[2017-11-16 17:18] #409 closed

[2017-11-17 06:16] kamilkisiela commented on #397
@pycraft114

In `apollo-angular@1.0` we introduced a different way of watching queries. Let me show you, step by step how it works.

To watch query we stll use `watchQuery()` which `QueryRef` (this is new)

[code]

`QueryRef` has methods like `refetch()`, `fetchMore()` and others.

[code]

So where is an `Observable` that we could subscribe to?

[code]

It's a pure RxJS Observable, previously it w

[2017-11-17 06:17] kamilkisiela commented on #397
You can read more about the migration process in the documentation.

[2017-11-17 08:35] sandangel opened #418 "Not compatible with strict null checks"
Basic setup can not be complete when strictNullCheck is turn on.

Argument of type '{ link: HttpLinkHandler; cache: InMemoryCache; }' is not assignable to parameter of type 'ApolloClientOptions<NormalizedCacheObject>'.
  Types of property 'cache' are incompatible.
    Type 'InMemoryCache' is not assignable to type 'ApolloCache<NormalizedCacheObject>'.
      Types of property 'read' are incompatibl

[2017-11-17 09:33] #412 closed

[2017-11-17 20:24] kamilkisiela commented on #418
It's not related to `apollo-angular` but to `apollo-cache-inmemory`. Known issue, there will be soon a fix for that apollographql/apollo-client#2592.

[2017-11-17 20:24] #418 closed

[2017-11-18 08:43] jlovison commented on #417
Another area for documentation errors: [Apollo Link > Afterware](https://www.apollographql.com/docs/angular/basics/network-layer.html#linkAfterware)

    const logoutLink = onError(({ networkError }) => {
          if (networkError.statusCode === 401) auth.logout();
        });

        apollo.creat({
          link: logoutLink.concat(httpLink),
        });

So a number of things wrong here:

* `o

[2017-11-18 11:07] jlovison opened #425 "Re-implement Observable variables"
The ability to use observables as query variables was very convenient from #62 .

With the move to apollo-client 2.0 and apollo-angular 1.0, this feature seems to have been dropped.

Are there plans/desires to re-implement it?

[2017-11-18 12:58] b-barry commented on #415
I went through all the docs and fixed all broken links.
If you find new one, just ping me

[2017-11-18 13:35] b-barry commented on #417
@mafalarz PR #431 fix the issue
@jlovison Apollo link doc was updated, they don't use anymore `status` but `statusCode` see [ResponseError interface](https://github.com/apollographql/apollo-link/blob/master/packages/apollo-link-http/src/httpLink.ts#L10). However, I saw an open issue regarding [HttpLink error object](apollographql/apollo-link#218). PR #432

[2017-11-18 13:38] b-barry commented on #414
PR #433 fix it

[2017-11-18 21:48] DarrienG commented on #361
Any updates? Did you ever get this working?

[2017-11-19 08:56] kamilkisiela commented on #425
I'm going to implement this

[2017-11-20 08:52] #414 closed

[2017-11-20 08:52] #415 closed

[2017-11-20 08:52] #417 closed

[2017-11-20 09:14] kamilkisiela commented on #361
There are two ways `apollo-angular` distribute code.

- umd bundle - `"main": "bundle.umd.js"`
- ES5 + ESM - `"module": "index.js"`

Somehow the second option is taken.

Could you create a simple reproduction so I can see what might be the reason?

[2017-11-20 13:01] nicky-lenaers commented on #348
@kamilkisiela Thanks man, great work!

[2017-11-20 15:05] DarrienG commented on #361
Hey there. Turns out it was an unrelated issue. Just me not getting enough sleep and forgetting some packages. Cheers!

[2017-11-20 15:14] #361 closed

[2017-11-22 21:55] BhaskaranR commented on #425
Hi @kamilkisiela  were you able to work on this or do you have a date in mind?

[2017-11-23 18:56] darkbasic opened #437 "Please allow users to opt-in for mutable objects for Optimistic UI updates"
**Use case:**
[code]
I have a component which lists all the objects of a certain kind and every time time a new object of that kind gets created I want it to show an `:entry` web-animation on that item.

Everything's fine, until you start using Optimistic UI. With Optimistic UI a new object gets created with a random ID and some presumed-to-be data. The animation immediately starts (we don't have

[2017-11-24 00:42] matthewerwin commented on #425
@kamilkisiela any background on why this feature was dropped when the 1.0.0 release was cut? Guessing it's due to architectural changes in v2. This is quite powerful for triggering multiple query updates (e.g. when current user id changes).

[2017-11-25 11:15] manzonif opened #438 "Documentation error"
In [this page](https://www.apollographql.com/docs/angular/recipes/server-side-rendering.html) there is an error related to TransferState:

[code]
should be :

[code]

[2017-11-25 13:25] knorzel commented on #425
@kamilkisiela Is there a workaround for apollo-angular 1.0.0 until the feature will be re-implemented, so v1.0 can be used with observable parameters at the time?

[2017-11-25 14:15] kamilkisiela commented on #425
@knorzel You can use `switchMap` and `combineLatest` rxjs operators to do basically the same thing.

@matthewerwin We dropped this because it can be done within a separate npm package. This way it could be opt in and maintained separately.

[2017-11-25 14:44] kamilkisiela commented on #438
Yes, that's true. Could you make a PR that fixes it?

[2017-11-25 22:05] matthewerwin commented on #425
What is the npm package name? Curious how it adds this into the watchQuery method or if it's a new method...documentation seemed to indicate 5 LOC upgrade path but this has a pretty extensive impact on the upgrade and no documentation except in the release notes saying it was dropped in v1.0.0 with no other remarks

[2017-11-26 14:36] manzonif commented on #438
done #439

[2017-11-27 13:44] knorzel commented on #425
@kamilkisiela Thanks for the tipp. However, this would require manually re-implementing many queries in a large productive codebase and undoing these changes manually as soon as the functionality has been re-implemented...

Do you have an estimate when the feature will be available again? For now, my migration is stuck right in the middle, blocking the implementation of new features that all rely

[2017-11-28 23:59] Eraldo commented on #176
I also have the same problem.
How about reopening the issue?

[2017-11-30 18:05] fbascheper commented on #425
@kamilkisiela Can you explain how you would reimplement this using `switchMap` and `combineLatest`

[2017-12-01 15:37] dustin-cooler commented on #394
@patricknazar That's what I ended up doing as well, but it used to be possible to mock the network interface so that unit tests could use Apollo directly but get mock results

[2017-12-02 22:09] rafbgarcia commented on #408
Thanks @simonhaenisch, that was helpful

[2017-12-04 17:58] BhaskaranR commented on #295
not working for me i checked it with v1.0. i wanted to show number of updates per millisecond with updates property. it wouldn't work. i have OnPush set on the component

[code]

[2017-12-05 04:07] luchillo17 commented on #142
@kamilkisiela I'm about to update to latest, which version of `apollo-client` do i need, does it includes the services thing you mentioned?

[2017-12-07 18:34] kamilkisiela commented on #394
@dustin-cooler To use `Apollo` service you need to create a client, just like in the docs, that chapter [_"Setup and options: Creating a client"_](https://www.apollographql.com/docs/angular/basics/setup.html#creating-client)

[2017-12-07 18:41] kamilkisiela commented on #142
@luchillo17 v1.0.0

[2017-12-07 18:44] luchillo17 commented on #142
Thanks, hopefully this services thing should allow me to finish my project (lacked a better control over errors and reactions to them).

[2017-12-07 18:48] kamilkisiela commented on #425
Similar to this
https://github.com/kamilkisiela/apollo-client-rxjs/blob/master/src/utils/variables.ts#L33

[2017-12-08 11:39] Libohan12 opened #445 "need help, about subscriptions"
I want to subscribe to some data.
But encountered this problem.
`core.js:1350 ERROR Error: ObservableQuery with this id doesn't exist: 2
    at QueryManager.getQueryWithPreviousResult (QueryManager.js:631)
    at ObservableQuery.updateQuery (ObservableQuery.js:254)
    at Object.next (ObservableQuery.js:186)
    at SubscriptionObserver.next (zen-observable.js:154)
    at QueryManager.js:572
    at

[2017-12-08 13:40] #445 closed

[2017-12-08 17:17] fbascheper commented on #425
That works like a charm, thanks! It would be nice to have  the old behaviour back, though.

[2017-12-08 17:26] matthewerwin commented on #425
Agree with the above comment. Not very elegant but I suppose a wrapper can be written. Seems to make natural sense for watchQuery to have this behavior built in since the whole purpose is to be responsive to changes...either to cache or to variables driving the query itself.

[2017-12-09 17:40] abubakkarbutt opened #448 "Network Error: Cannot read property 'length' of null"
## Package Versions
-  @angular : 5.1.0,
-  "apollo-angular": "^1.0.0",
-  "apollo-angular-link-http": "^1.0.1",
-   "apollo-cache-inmemory": "^1.1.3",
-   "apollo-client": "^2.1.0",
-   "apollo-link": "^1.0.5",
-   "apollo-link-context": "^1.0.2",
-   "apollo-link-error": "^1.0.2",
-   "apollo-link-ws": "^1.0.2",
-   "apollo-utilities": "^1.0.3",
## Apollo Error
### TypeError: Cannot read propert

[2017-12-09 17:51] picosam commented on #448
Did you try to change `authToken: localStorage.getItem('vital_token') || null` to `authToken: localStorage.getItem('vital_token') || ''`?

[2017-12-09 18:24] abubakkarbutt commented on #448
No, why would it be the cause of error?

[2017-12-09 18:32] picosam commented on #448
(Sorry, I updated my comment after referring to the correct line.)
To answer your question, I think here's is the culprit: https://github.com/angular/angular/blob/master/packages/common/http/src/headers.ts#L176

[2017-12-09 18:39] abubakkarbutt commented on #448
Yes it did fixed the error. Thank you so much for your help.

[2017-12-09 18:39] #448 closed

[2017-12-10 19:56] kroeder commented on #425
Is there a planned release date yet? in my opinion this is one hell of a major feature when working with data / tables / filtering in general  :/ I simply can't update until this is implemented

[2017-12-11 02:28] Eraldo opened #449 "string query variable unexpectedly expanded to char variables additionally"
I have a query watch call that I call like this:
[code]

And the request payload then looks like this:
[code]
The last line looks broken to me!
I would expect `variables: {date: "2017-12-11"}` but instead every character is also sent as a variable!?
That was not the case before I upgraded to version 2.

More info on my setup: https://github.com/apollographql/apollo-client/issues/2706#issuecomment-

[2017-12-13 15:27] kamilkisiela commented on #449
Could you try to reproduce it?
https://stackblitz.com/edit/simple-apollo-angular-example

[2017-12-13 19:19] #438 closed

[2017-12-13 19:21] kamilkisiela commented on #389
@raysuelzer Could you create a reproduction?

For example, using this https://stackblitz.com/edit/simple-apollo-angular-example or by creating a unit test.

[2017-12-13 22:11] intellix opened #450 "Observable/Promised based subscribeToMore for reacting to updates"
I'm taking an initial result set from a query and subscribing to more. When new data comes in, I need to first push it through some animation before adding it to a list of results for the user to see.

Results: [0, 1, 2]
New Result: 3...... animate for a couple of seconds
Results: [0, 1, 2, 3]

Having subscribeToMore return a Promise or be an Observable chain would make this really easy cause I th

[2017-12-14 15:28] kamilkisiela commented on #450
@intellix maybe `Apollo.subscribe(...)` + QueryRef.updateQuery(...)` are what you need?

[2017-12-14 15:33] intellix commented on #450
Ahah, I didn't know about the subscribe method :) Documentation only referenced subscribeToMore so missed that one: https://github.com/apollographql/apollo-client/issues/2719#issuecomment-351504883

[2017-12-14 15:35] kamilkisiela commented on #450
Pretty much every time I mention `.subscribe()` people are surprised. I'll cover that in angular docs soon.

[2017-12-14 17:46] #450 closed

[2017-12-15 15:37] Vi-dot opened #451 "Mutation call api twice"
Hello,

Since I updated my application dependencies to last version :
[code]

I have a bug with `mutate()` function. One function execution make two calls to api. I saw api calls in network debuger. Then I'm sure about number of function execution with simple console prints (once a time).

[code]

I tried with Firefox 5.7 and Chromium 63, and get the bug any way.

It's a big problem, because in my

[2017-12-16 02:48] kamilkisiela commented on #451
@Vi-dot Are you sure there are two exact same requests? One is probably `OPTIONS` (method) and second is `POST` and that's how it should be.

[2017-12-16 12:50] muradm opened #452 "new feature: SchemaLink for Angular Universal"
Server side Angular allows to render on server. If angular `ServerAppModule` and GraphQL server are running in same process, it could be possible to shortcut GraphQL calls without additional HTTP round-trip, like this:
[code]
Then at `ServerAppModule` bootstrap:
[code]
Then without any change in Angular application we get local calls to GraphQL server.

However this does not work out of the box, b

[2017-12-16 20:07] Eraldo commented on #449
I tried.. but I could not reproduce it. :/
I did get the expected variables in that stackblitz environment.

So I guess it is safe to conclude that it is not a general issue but depends on some environment thing that I don't yet know.
Further ideas?

[2017-12-16 20:08] Eraldo commented on #449
Thank's for the idea of using that service to find that out. ;)

[2017-12-17 03:42] hiepxanh commented on #452
wow, interesting, is that work with `websocket `too ? I really don't know much about `ZoneMacroTaskWrapper  `

[2017-12-18 10:24] Vi-dot commented on #451
@kamilkisiela Yes, it's exactly the same requests, with the same http header, query and variables as below :
[code]

I wonder if it's because the graphql lib of server I'm using is a bit old. I'm using graphql-java 2.4, and now graphql-java is in version 6.0. But it shouldn't be because the calls come from client part.

[2017-12-18 11:06] Vi-dot commented on #451
I fixed it, it's because I subscribe twice to the observer returned by `mutate()` function.
Strange, because before it was allowed.
The function mutate should make a recall, not a subscription to its observer.

[2017-12-18 12:58] #379 closed

[2017-12-23 09:42] blissi opened #454 "Why have you removed ApolloModule.forRoot()?"
This makes problems with instantiation order:
I've got a service that makes a query in the constructor. The ApolloClient hasn't been created at this time, though.

[2017-12-27 07:08] blissi commented on #454
Next problem:
I tried to use the select-pipe in a feature module. It says "The pipe 'select' could not be found..." Therefore I tried to add "ApolloModule" to the imports-section. Then I get the error "Error: Client has not been defined yet" when accessing the page on the feature module.

[2017-12-28 05:48] ahelord opened #457 "error in angular 4 when installing apollo"
Hello friends, first of all I want to give you the collaborators and maintainers of this library.

I am using this starter kit angular4 apollo
https://github.com/scaphold-io/angular4-apollo-client-starter-kit

i did `npm install` and `ng serve`
and I had these errors

[code]

I have read several issues but I can not find a definitive solution or if in these months the correction will be launched i

[2017-12-30 09:37] kamilkisiela commented on #457
Use newer TypeScript, I don't remember on which exact version that changed but I think it was 2.4 so 2.4+

[2018-01-01 18:17] joaogarin opened #458 "500 Internal Server error after attaching Bearer token for authentication"
Hello,

I have an app I am working on, everything works fine but as soon as I attach a token for authentication I get a 500 Internal server error.

The queries and mutations all are working properly in graphiql explorer (in my server) but from Apollo if the auth token attached I get :

[code]

This is what the main module looks like :

[code]

This is how the request looks like :

<img width="1437

[2018-01-01 21:02] joaogarin commented on #458
In the example in the docs it does this :

[code]

However "headers" is undefined when I do this, and thats why I set my headers directly in there. maybe some other header should be included?

[2018-01-02 12:11] intellix commented on #458
I'm seeing the auth token included in your request, so it looks like everything is working correctly as far as I can see from Apollo's side. 500 error means there's a server error which needs addressing regardless I think.

The only difference between graphiql and apollo is that the Auth token is being sent right? If you Copy both requests as cURL and compare them. I think your server doesn't hand

[2018-01-02 13:39] joaogarin commented on #458
Thanks for the answer I will try it out! I will close the issue as it seems it unrelated to apollo at all

Thanks for the help ;)

[2018-01-02 13:39] #458 closed

[2018-01-02 14:41] agborkowski opened #459 "Is there way to get response headers?"
im using code similar like

https://github.com/benawad/slack-clone-client/blob/31_fix_auto_refresh_of_jwt_tokens/src/apollo.js#L18

but with apollo-angular-link-http afterWare

[code]
inside map and operation.getContext(); there is only object with requested `headers` `cache` and body content,  how to get response headers ?

## R&D update

i didn't find solution to access to response headers in `a

[2018-01-03 14:11] ygrishajev commented on #425
So is it going to be back in apollo-client at all?

[2018-01-04 15:20] kroeder commented on #454
If you need apollo before everything else you can do this by using the angular APP_INITIALIZER token
[code]
See this https://gist.github.com/fernandohu/122e88c3bcd210bbe41c608c36306db9

Hope this helps!

[2018-01-05 06:48] blissi commented on #454
Thanks, I'll give it a try!

[2018-01-05 06:48] #454 closed

[2018-01-05 16:08] ahelord commented on #457
I already made the update to typescript 2.6.2 and I get other errors

[code]

[2018-01-08 08:32] kamilkisiela commented on #457
@ahelord You somehow uses the `apollo-client-rxjs` which was a part of v0.X. Try to update `apollo-angular` to v1.0

[2018-01-09 08:46] Charius commented on #337
this happens when default cache policy is enabled. So temp solution is to turn normalization off, via something like this:

[code]

[2018-01-11 11:00] kamilkisiela opened #460 "[Idea] Create Apollo on Dependency Injection level"
**TL;DR:** An InjectionToken for options of the default ApolloClient as an alternative way to initialize Apollo, a replacement for `Apollo.create` (both will be supported).

An example:

[code]

[Details](https://github.com/apollographql/apollo-angular/blob/b4aaaff51522c54788eb56f4b7a139bb57b9c44d/docs/source/basics/setup.md#using-dependency-injection)

**Why?**

Why we didn't do it in a first pla

[2018-01-11 12:53] intellix commented on #460
looks good to me :)

[2018-01-11 17:43] mjankucic-itk commented on #425
How it's going with this?

[2018-01-11 20:13] kamilkisiela commented on #425
Hi there!

A little update, I've been working hard in last two months on my own projects, those of _work for food_ type. Unfortunately I didn't have time to implement this feature as a separate package, maybe some of you could do it to help others since we are a community.

There is a "hidden" method in ApolloClient called [`setVariables`](https://www.apollographql.com/docs/react/reference/index.h

[2018-01-12 12:04] kroeder commented on #460
Is this an approach to have an apollo client before everything else?

If yes, I do it like this at the moment: https://github.com/apollographql/apollo-angular/issues/454#issuecomment-355309077 (angular's own way of doing this)

 If not, what benefits does this have?

[2018-01-12 12:18] kamilkisiela commented on #460
By using `ApolloOptionsToken` or whatever name it would have, you define options that will be passed to `Apollo` service. That Token is being created at the same time as any other Token in your Angular app, that's it works in Angular.

About:

Angular's DI works this way. It gets all the providers, token, etc that have been provided. If A service depends on B service than B will be created first.

[2018-01-12 12:28] kamilkisiela commented on #454
#460 will fix it.

@blissi

It says there is no ApolloClient created. It's done with `Apollo.create({ options })`. You can check out the Setup chapter in docs.

There are two cases when it might happen:
- `Apollo.create()` hasn't been used at all
- On of `Apollo` service's methods has been used before `Apollo.create()` happend

[2018-01-15 10:13] kroeder commented on #425
I'm using your example to implement filters in my app and I must say this is way more intuitive and comfortable than it was `< Apollo Angular 1.0`

What's missing is a updateVariables method (IMO) that merges a new set of variables with the old one

**Example:**
My initial filter always needs to be `filter: { statusComplete: false }`
Additionaly the user is able to filter countries `filter: { coun

[2018-01-15 10:58] kamilkisiela commented on #425
@kroeder you could create an Observable with comineLatest and switchMap to make it happen. In conbineLatest you would combine each variable and execute setVariables in switchMap

[2018-01-16 09:04] ThinkontrolSY opened #464 "watchQuery variables member as a Rxjs Subject not working"
This problem occurred after upgraded to apollo-angular 1.0.1

when I use watchQuery, the type of variables' member is a Subject\<any\>, and I just next a new value to this variable member to update data.

[code]

But I found this feature is no longer work in apollo-angular 1.0.1

Is the feature disabled or the usages changed ?

Thanks

[2018-01-16 09:22] picosam commented on #464
Is this related to #425?

[2018-01-16 09:43] ThinkontrolSY commented on #464
Yes, Thanks to @picosam

[2018-01-16 12:39] kamilkisiela commented on #464
Closing in favor of #425

[2018-01-16 12:39] #464 closed

[2018-01-17 07:09] PowerKiKi commented on #425
We also stumbled upon this regression when migrating our project. We ended up implementing some kind of wrapper to still be able use observable variables. But there are multiple catches...

First of all [`setVariables()` incorrectly never return a result coming from cache](https://github.com/apollographql/apollo-client/issues/2712). This is visible in @kamilkisiela [stackblitz example](https://sta

[2018-01-17 09:47] milosbr commented on #425
Not sure if setVariables() should work as @PowerKiKi explained or it is a bug. We had to move to refetch() because of that, which is not complete solution also.

[2018-01-17 12:06] PowerKiKi commented on #425
@milosbr do you mean the fact that you first get old results for new variables ?

[2018-01-17 13:11] milosbr commented on #425
@PowerKiKi
Nope, refetch() acts the same as setVariables() and we just check if loading is false to process the data.

I was talking regarding [setVariables() and cache issue](https://github.com/apollographql/apollo-client/issues/2712)

I meant that refetch() works with every fetchPolicy (except 'cache-only') but it's costly,
while setVariables() works only with 'cache-and-network'. Even fetchPoli

[2018-01-21 08:38] fxck opened #465 "`mutate` return type is always `any`"
If I do this

[code]

`resp` has the correct type, but if I do the same with `mutate`,

[code]

`resp` is `any`, despite both methods having the same signature?

[code]

[2018-01-22 08:44] beagleknight commented on #465
@fxck I am having the same issue right now :)

The problem is `FetchResult` doesn't use `T` for the result:

[code]

The `C` here is the previous `T` and it used to type the context. I think this is an error but I am not 100% sure.

[2018-01-23 05:57] fxck commented on #465
What do you think @kamilkisiela ?

[2018-01-23 09:29] kamilkisiela commented on #465
Yep, at least three things that should be changed:

Apollo service in this lib: https://github.com/apollographql/apollo-angular/blob/502b57aa19d15be8719d77c284272299831f68a4/packages/apollo-angular/src/Apollo.ts#L37

QueryManager in apollo-client:
https://github.com/apollographql/apollo-client/blob/b1e389560d32c01bcb680514fc7f5dd8d94f2646/packages/apollo-client/src/core/QueryManager.ts#L127

And A

[2018-01-23 10:05] fxck commented on #465
Hm, so that means PRs and releases on both repositories. Hoped it would be something we could fix quickly. :/

[2018-01-23 10:30] kamilkisiela commented on #465
I could help if anyone is interested in fixing it

[2018-01-24 09:42] amitport opened #467 "support graphql@0.12?"
when installing graphql@0.12.3 I am getting a warning:
`npm WARN apollo-angular-link-http@1.0.1 requires a peer of graphql@^0.11.2 but none was installed.`

I am not seeing any actual regression though. Does this lib support `graphql@0.12`? If so, can the peer dependency be updated?

Thank you

[2018-01-24 16:36] stephenlautier opened #469 "WatchQuery dispose leaking"
When using the `.watchQuery`, is there a way to dispose it?
Not sure if its a bug or I'm misusing it, but it seems to be leaking without somehow disposing it.

I followed the [documentation](https://www.apollographql.com/docs/angular/basics/queries.html) but all the usages doesnt have any dispose, I also unsubscribe from the `.valueChanges.subscribe` but it's still alive.

This is what I'm doing:

[2018-01-24 19:07] stephenlautier opened #470 "ApolloBase not exposed in index"
`ApolloBase` type is not exported in the index. Can we add it to the exports, please?

This is needed as the named clients e.g. `apollo.use` return a `ApolloBase<T>` https://github.com/apollographql/apollo-angular/blob/master/packages/apollo-angular/src/Apollo.ts#L102
and not a normal `Apollo`. So in order to store it in a variable, it makes it a bit more painful.

Also if its normally used as `Ap

[2018-01-25 16:58] #470 closed

[2018-01-25 17:37] kamilkisiela commented on #467
#472 should close it. You can use `apollo-angular-link-http@1.0.2-beta.0`.

[2018-01-25 17:40] #467 closed

[2018-01-26 09:00] patricknazar commented on #460
I am still not sure how to use this module with feature modules. The `Client has not been defined yet` error comes up for me with lazy-loaded feature modules (via angular router) but fine when under `imports`.

[2018-01-27 19:42] kamilkisiela commented on #469
I failed to reproduce by simply using `Apollo` service inside a component.

https://stackblitz.com/edit/apollo-angular-469

Apollo Dev Tools shows one watched query and I get only one log.

[2018-01-27 20:01] kamilkisiela commented on #465
Closing since it's a duplication of apollographql/apollo-client#2795

[2018-01-27 20:01] #465 closed

[2018-01-27 20:02] kamilkisiela commented on #457
Closing since we only support v1.0+

[2018-01-27 20:02] #457 closed

[2018-01-27 20:07] kamilkisiela commented on #451
@Vi-dot I don't agree. Where you're using `HttpClient`, it will do an action after you subscribe to it. Since it's a standard Observable, you can share it the same way as you normally do in Angular.

[2018-01-27 20:08] #451 closed

[2018-01-27 20:08] kamilkisiela commented on #449
Closing since I didn't receive any reproduction

[2018-01-27 20:08] #449 closed

[2018-01-27 20:10] #397 closed

[2018-01-27 20:11] #389 closed

[2018-01-27 20:12] #394 closed

[2018-01-29 10:16] stephenlautier commented on #469
@kamilkisiela in that it seems its works fine, I will try to use that API in my repo and see if it works properly or not.

[2018-01-30 20:39] tjme opened #474 "this.apollo.subscribe works (even for inserts), but .query and .watchQuery don't work so well"
I have a [repo](https://github.com/tjme/angular-io-example-graphql/) with a working re-implementation of the Angular Tour of Heroes tutorial, but using Apollo-Angular to link via GraphQL (and [PostGraphile)](https://github.com/postgraphql/postgraphql/) to a PostgreSQL database. It now seems to work well, but I expected to use apollo.query or apollo.watchQuery (with .valueChanges) to fetch all the

[2018-02-01 01:06] nate-snaptech commented on #460
@kamilkisiela any idea when this will be added? I have been running into same issue as @patricknazar with lazy loading routes returning `Client has not been defined yet`

[2018-02-01 01:58] patricknazar commented on #460
@nate-snaptech I have gotten past the issue by creating a shared module using the forRoot technique described in the link I posted. You include it into your app module with .forRoot () and without it in the lazy loaded module. The shared module has a constructor that injects apollo and that's where I create the Client. Works well.

[2018-02-01 03:11] nate-snaptech commented on #460
@patricknazar figured it out after reading through  https://alligator.io/angular/providers-shared-modules/. The issue was resolved from removing ApolloModule imports/exports on sub modules. Perhaps apollo client was being overwritten of reset upon duplicate imports on lazy loaded modules.  Thanks for the article

[2018-02-01 05:59] patricknazar commented on #460
Here is [an example repo](https://github.com/patricknazar/angular-lazy-loading-apollo-client) for anyone wanting to see how this works.

[2018-02-01 06:16] akshath4u commented on #349
Hi, I'm using Apollo angular with ngrx and using ngrx effects for graphql queries. is this the right approach?

[2018-02-01 06:45] patricknazar commented on #349
@akshath4u probably not the right place to ask this question. I put my apollo angular code in services, and call the services in the effects.

[2018-02-01 09:50] gviligvili opened #475 "QueryOptions is not availabe in Apollo Link"
I have multiple polling requests. and a bit of regular queries.

I try to add to each polling request an header :  "isPolling: true"
But I can't seem to reach the query options in Apollo Link middleware.

is there a way to see which options where given to a query?

[2018-02-02 05:21] vespertilian commented on #460
@kamilkisiela, first, thanks for all your work on Apollo Angular!

Q: Could Apollo Angular Modules also support something like "Feature Module State Composition" from NGRX?

[Feature Module State Composition](https://github.com/ngrx/platform/blob/master/docs/store/api.md#meta-reducers)
[code]

I am a big fan of NGRX, however I feel like Apollo and GraphQL might be even better. While I understand y

[2018-02-02 11:39] kamilkisiela commented on #469
@stephenlautier How it works? Maybe you could prepare a small reproduction of it?